        {%- liquid
          assign highest_ratio = 0
          for block in section.blocks
            if block.settings.image.aspect_ratio > highest_ratio
              assign highest_ratio = block.settings.image.aspect_ratio
            elsif block.settings.product.featured_image.aspect_ratio > highest_ratio
              assign highest_ratio = block.settings.product.featured_image.aspect_ratio 
            elsif block.settings.alt_pimage.aspect_ratio > highest_ratio
              assign highest_ratio = block.settings.alt_pimage.aspect_ratio 
            else
               assign highest_ratio = 1            
            endif
          endfor
        -%}   
   <li
            id="Slide-{{ section.id }}-{{ forloop.index }}"
            class="multicolumn-list__item grid__item{% if section.settings.swipe_on_mobile %} slider__slide{% endif %}{% if section.settings.column_alignment == 'center' %} center{% endif %}{{ empty_column }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {{ block.shopify_attributes }}
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            <div class="multicolumn-card content-container">
              {%- if product_image != blank -%}
                {% if section.settings.image_ratio == 'adapt' or section.settings.image_ratio == 'circle' %}
                  {% assign spaced_image = true %}
                  {% style %}#shopify-section-{{ section.id }} .media > img {object-fit: contain;}{% endstyle %}                  
                {% endif %}
                  <a href="{{ product.url }}">
               <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--{{ section.settings.image_width }}-width{% if section.settings.image_width != 'full' or spaced_image %} multicolumn-card-spacing{% endif %}">
                  <div
                    class="media media--transparent media--{{ section.settings.image_ratio }}"
                    {% if section.settings.image_ratio == 'adapt' %}
                      style="padding-bottom: {{ 1 | divided_by: highest_ratio | times: 100 }}%;"
                    {% endif %}
                  >
                    {%- liquid
                      assign number_of_columns = section.settings.columns_desktop
                      assign number_of_columns_mobile = section.settings.columns_mobile
                      assign grid_space_desktop = number_of_columns | minus: 1 | times: settings.spacing_grid_horizontal | plus: 100 | append: 'px'
                      assign grid_space_tablet = number_of_columns_mobile | minus: 1 | times: settings.spacing_grid_horizontal | plus: 100 | append: 'px'
                      assign grid_space_mobile = number_of_columns_mobile | minus: 1 | times: settings.spacing_grid_horizontal | divided_by: 2 | plus: 30 | append: 'px'
                      if section.settings.image_width == 'half'
                        assign image_width = 0.5
                      elsif section.settings.image_width == 'third'
                        assign image_width = 0.33
                      else
                        assign image_width = 1
                      endif
                    -%}
                    {% capture sizes %}
                      (min-width: {{ settings.page_width }}px) calc(({{ settings.page_width }}px - {{ grid_space_desktop }}) * {{ image_width }} /  {{ number_of_columns }}),
                      (min-width: 990px) calc((100vw - {{ grid_space_desktop }}) * {{ image_width }} / {{ number_of_columns }}),
                      (min-width: 750px) calc((100vw - {{ grid_space_tablet }}) * {{ image_width }} / {{ number_of_columns_mobile }}),
                      calc((100vw - {{ grid_space_mobile }}) * {{ image_width }} / {{ number_of_columns_mobile }})
                    {% endcapture %}
                    {{
                      product_image
                      | image_url: width: 3200
                      | image_tag:
                        widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200',
                        sizes: sizes,
                        class: 'multicolumn-card__image'
                    }}</div>
                  </div>
                </a>
              {%- endif -%}
              <div class="multicolumn-card__info">
                {%- if product.title != blank -%}
                  <h3 class="{{ section.settings.font_style }}">
                    <a href="{{ product.url }}" class="{{ section.settings.ptitle_fix }}">
                        {% case section.settings.ptitle_fix %}
                            {% when 'none' %}{{ product.title }}
                            {% when 'basic_series' %}{% render 'gua-title_v3',product:product, text_style:'basic_series' %}
                            {% when 'specific_series' %}{% render 'gua-title_v3',product:product, text_style:'specific_series' %}
                            {% when 'basic' %}{% render 'gua-title_v3',product:product, text_style:'basic' %}
                            {% when 'specific' %}{% render 'gua-title_v3',product:product, text_style:'specific' %}                                  
                            {% when 'slice' %}{% render 'gua-title_v2',title:product.title %}                                 
                            {% when 'move_model' %}{% render 'gua-title_v2',title:product.title,change_model:'move' %}                          
                            {% when 'remove_model' %}{% render 'gua-title_v2',title:product.title,change_model:'remove' %}
                        {% endcase %}
                    </a>
                  </h3>
                {%- endif -%}
                {%- if product.description != blank and section.settings.pdesc -%}
                      {% assign desc_parts = product.description | split: '.' %}   

                  {% if section.settings.pdesc_shorten == 1 and desc_parts %}               
                        <div class="rte">{{ desc_parts[0] }}.</div>
                  {% elsif section.settings.pdesc_shorten == 2 and desc_parts %}                      
                        <div class="rte">{{ desc_parts[1] }}.</div>   
                  {% else %}                       
                    <div class="rte">{{ product.description }}</div>
                  {% endif %}                  
                {%- endif -%}


              </div>
            </div>
          </li>