{% assign limit = 5 %}
{% assign count = 0 %}
{% assign variant = product.selected_or_first_available_variant %}

{% case product.type %}
        {% when 'Vacuums' %}
                {% assign meta_list = 'Vacuum Flow|Vacuum-Flow' %}
        {% when 'Air & Syphon Guns' %} 
                {% assign meta_list = 'Inlet Connection|Inlet-Connection,Min. Compressor|Min-Compressor-Required,Flow|Flow,Syphon Flow Rate|Syphon-Flow-Rate,Output Thrust|Output-Thrust' %}
                {{ variant.metafields.global.Vacuum-Flow }}
{% endcase %}
{% assign meta_array = meta_list | split:',' %}

<div class="card-metafields grid">

 {% for meta in meta_array %}
        {% assign label = meta | split: '|' | first %}
        {% assign key = meta | split: '|' | last %}
        {% if variant.metafields.global[key] %}
                <div class="meta__item"><span class="meta-label">{{ label }}:</span><span class="meta-value">{{  variant.metafields.global[key] }}</span></div>
                {% assign count = count | plus:1 %}
        {% endif %}
        {% if forloop.index == limit %}{% break %}{% endif %}
 {% endfor %}
        {% comment %} {% for row in (1..limit) %}
                {% if val1 or val2 %}
                        {% if val1 %}<div class="meta__item"><span class="meta-label">{{ val1_name }}:</span><span class="meta-value">{{  val1.value }}</span></div>{% assign count = count | plus:1 %}{% endif %}
                        {% if val2 %}<div class="meta__item"><span class="meta-label">{{ val2_name }}:</span><span class="meta-value">{{  val2.value }}</span></div>{% assign count = count | plus:1 %}{% endif %}
                        {% if val3 %}<div class="meta__item"><span class="meta-label">{{ val3_name }}:</span><span class="meta-value">{{  val2.value }}</span></div>{% assign count = count | plus:1 %}{% endif %}
                        {% if val4 %}<div class="meta__item"><span class="meta-label">{{ val4_name }}:</span><span class="meta-value">{{  val4.value }}</span></div>{% assign count = count | plus:1 %}{% endif %}  
                {% else %}<div class="meta__item"><span class="meta-label">Title:</span><span class="meta-value"> value</span></div>
                {% endif %}

                {% if count > limit %}{% break %}{% endif %}
        {% endfor %} {% endcomment %}

        
</div>