{% assign limit = 3 %}
{% assign count = 0 %}
{% assign meta_list = "" | split: "" %}
{% assign meta_test = 'Output-Thrust' %}
{% assign variant = product.selected_or_first_available_variant %}
{% case product.type %}
        {% when 'Vacuums' %}
                {% assign val1 = variant.metafields.global.Vacuum-Flow %}
        {% when 'Air & Syphon Guns' %} 
                {% assign meta_list = 'Output-Thrust','Min-Compressor-Required' %}
                {% assign val1 = variant.metafields.global["Output-Thrust"] %}
                    {% if val1.definition.name %}{% assign val1_name = val1.definition.name %}{% else %}{% assign val1_name = 'Output Thrust' %}{% endif %}
                {% assign val2 = variant.metafields.global["Min-Compressor-Required"] %}
                    {% if val2.definition.name %}{% assign val2_name = val2.definition.name %}{% else %}{% assign val2_name = 'Min. Compressor Req.' %}{% endif %}
                {% assign val3 = variant.metafields.global["Inlet-Connection"] %}
                    {% if val3.definition.name %}{% assign val3_name = val3.definition.name %}{% else %}{% assign val3_name = 'Inlet Connection' %}{% endif %}
                {% assign val4 = variant.metafields.global["Flow"] %}
                    {% if val4.definition.name %}{% assign val4_name = val4.definition.name %}{% else %}{% assign val4_name = 'Flow' %}{% endif %}                    
{% endcase %}
<div class="card-metafields grid">


 {% for meta in meta_list %}
                {{ variant.metafields.global[meta] }}
 {% endfor %}
        {% for row in (1..limit) %}
                {% if val1 or val2 %}
                        {% if val1 %}<div class="meta__item"><span class="meta-label">{{ val1_name }}:</span><span class="meta-value">{{  val1.value }}</span></div>{% assign count = count | plus:1 %}{% endif %}
                        {% if val2 %}<div class="meta__item"><span class="meta-label">{{ val2_name }}:</span><span class="meta-value">{{  val2.value }}</span></div>{% assign count = count | plus:1 %}{% endif %}
                        {% if val3 %}<div class="meta__item"><span class="meta-label">{{ val3_name }}:</span><span class="meta-value">{{  val2.value }}</span></div>{% assign count = count | plus:1 %}{% endif %}
                        {% if val4 %}<div class="meta__item"><span class="meta-label">{{ val4_name }}:</span><span class="meta-value">{{  val4.value }}</span></div>{% assign count = count | plus:1 %}{% endif %}  
                {% else %}<div class="meta__item"><span class="meta-label">Title:</span><span class="meta-value"> value</span></div>
                {% endif %}

                {% if count > limit %}{% break %}{% endif %}
        {% endfor %}

        
</div>