
        <div class="flex__content-block__content">
          <{{ block.settings.seo_heading }} class="flex__content-block__heading {{ block.settings.heading_class }}">{{ block.settings.heading }}</{{ block.settings.seo_heading }}>
          <div class="flex__content-block__text">{{ block.settings.subheading }}</div>
        </div>