  <div class="flex__content-block__content">
    <h3 class="flex__content-block__heading">{{ block.settings.connect_heading }}</h3>
    <div class="flex__content-block__text">{{ block.settings.connect_text }}</div>
    <a
      href="{{ block.settings.connect_button_link | default: 'javascript:void(0);' }}"
      {% if block.settings.connect_button_onclick != blank %}
        onclick="{{ block.settings.connect_button_onclick }}"
      {% endif %}
      class="flex__content-block__button button button--round">
      {{- block.settings.connect_button_text -}}
    </a>
  </div>