{% comment %}
      {% for entry in p_entries %}
        {% assign handle = entry.handle %}
        {% assign currentProduct = all_products[handle] %}
<ul>
  {% if forloop.first %}<ol><pre>{{ entry | json }}</pre></ol>{% endif %}
  <ol>{{ forloop.index }}: {{ entry.title }}</ol>
 {       <ol>{{ entry.handle }}</ol>
  <ol>rr{{ currentProduct.title }}</ol>
  <ol>{{ entry.option_name }}</ol>    
  <ol>Product ID: {{ product.id }}</ol>       
  <ol>Variant ID: {{ product.selected_or_first_available_variant.id }}</ol>     
  <ol>{{ entry.system.handle }}</ol>
  <ol>{{ entry.system.id }}</ol>  
</ul>custom.hose_length
      {% endfor %}  
{% endcomment %}
{% style %}
  {% if request.page_type == 'page' %}
      table.specifications-table tr {}    
      table.specifications-table th, table.specifications-table td {}
  {% endif %}
{% endstyle %}

{% if collection %}
  {% assign linked_products_metaobject = product.metafields.custom.linked_products.value %}
  {% assign specifications_title =  collection.title  | append: ' Specifications' %}
  {% assign specifications_option =  'Size' %}
  {% assign product_list =  collection.products %}
{% else %}
  {% assign linked_products_metaobject = product.metafields.custom.linked_products.value %}
  {% assign specifications_title =  linked_products_metaobject.group_name  | append: ' Specifications' %}
  {% assign specifications_option =  linked_products_metaobject.option_name %}
  {% assign product_list =  linked_products_metaobject.products.value %}
{% endif %}

{% assign show_type_fields = true %}
{% if block.settings.type_fields == false %}
    {% assign show_type_fields = block.settings.type_fields %}
{% endif %}
{% assign show_extra_fields = false %}
{% if block.settings.special_field != blank %}
    {% assign show_extra_fields = true %}  
    {% assign extra_field = block.settings.special_field %}
{% endif %}
{% unless highlight == false %}
    {% assign highlight = true %}
{% endunless %}

{% assign show_basics = false %}
{% assign show_dimensions = false %}
{% assign show_fittings = false %}
{% assign show_image = false %}
{% assign show_part_number = false %}
{% assign show_title = false %}
{% assign show_weight = false %}

{% assign show_spec = false %}
{% assign show_air_hose_id = false %}
{% assign show_air_inlet_fnpt = false %}
{% assign show_flow = false %}
{% assign show_grams = false %}
{% assign show_hose_length = false %}
{% assign show_inlet_connection = false %}
{% assign show_maxpressure = false %}
{% assign show_min_compressor = false %}
{% assign show_noise_level = false %}
{% assign show_output_thrust = false %}
{% assign show_soil_excavation_rate = false %}
{% assign show_steel_drum_guage = false %}
{% assign show_syphon_flow_rate = false %}
 
{% assign show_vacuum_flow = false %}
{% assign show_vacuum_hose_id = false %}
{% assign show_vacuum_lift = false %}
 

{% if request.page_type == 'page' %}
  {% assign show_part_number = true %}
{% endif %}


{% for variant in product.variants %}
  {% if variant.sku != blank %}
    {% assign show_part_number = true %}
  {% endif %}

  {% if variant.metafields.global['Air-Hose-ID'].value != blank %}
    {% assign show_air_hose_id = true %}
  {% endif %}  

  {% if variant.metafields.global['Syphon-Flow-Rate'].value != blank %}
    {% assign show_syphon_flow_rate = true %}
  {% endif %}

  {% if variant.metafields.global['Steel-Drum-Gauge'].value != blank %}
    {% assign show_steel_drum_guage = true %}
  {% endif %}

  {% if variant.metafields.global['Output-Thrust'].value != blank %}
    {% assign show_output_thrust = true %}
  {% endif %}

  {% if variant.metafields.global['Noise-Level'].value != blank %}
    {% assign show_noise_level = true %}
  {% endif %}

  {% if variant.metafields.global['Min-Compressor-Required'].value != blank %}
    {% assign show_min_compressor = true %}
  {% endif %}

  {% if variant.metafields.global['Inlet-Connection'].value != blank and product.type != 'Air Hoses & Fittings' %}
    {% assign show_inlet_connection = true %}
  {% elsif variant.metafields.global['Inlet-Connection'].value != blank and request.page_type == 'page' %}
    {% assign show_inlet_connection = true %}    
  {% endif %}

  {% if variant.metafields.global.grams.value != blank %}
    {% assign show_grams = true %}
  {% endif %}

  {% if variant.metafields.global.Flow.value != blank %}
    {% assign show_flow = true %}
  {% endif %}

  {% if variant.metafields.global.Fittings.value != blank %}
    {% assign show_fittings = true %}
  {% endif %}

  {% if block.settings.variant_image %}
    {% assign show_image = true %}
  {% endif %}  

  {% if variant.title and block.settings.variant_title %}
    {% assign show_title = true %}
  {% endif %}

  {% if variant.metafields.global['Vacuum-Lift'].value != blank %}
    {% assign show_vacuum_lift = true %}
  {% endif %}

  {% if variant.metafields.global['Vacuum-Hose-ID'].value != blank %}
    {% assign show_vacuum_hose_id = true %}
  {% endif %}

  {% if variant.metafields.global['Vacuum-Flow'].value != blank %}
    {% assign show_vacuum_flow = true %}
  {% endif %}

  {% if variant.metafields.custom.air_inlet_fnpt.value != blank %}
    {% assign show_air_inlet_fnpt = true %}
  {% endif %}

  {% if variant.metafields.custom.soil_excavation_rate.value != blank %}
    {% assign show_soil_excavation_rate = true %}
  {% endif %}


  {% if request.page_type == 'product' %}
        {% if variant.metafields.global['Each-Weight'].value != blank %}
          {% assign show_weight = true %}
        {% endif %}

        {% if variant.metafields.global['Each-Height'].value != blank
          and variant.metafields.global['Each-Length'].value != blank
          and variant.metafields.global['Each-Width'].value != blank
        %}
          {% assign show_dimensions = true %}
        {% endif %}        
  {% endif %}

{% endfor %}

{% assign p_entries = product_list | sort: 'title' %} 
      {% for entry in p_entries %}
            {% assign handle = entry.handle %}
            {% assign currentProduct = all_products[handle] %}       
            {% assign currentVariant = currentProduct.selected_or_first_available_variant %}   
      {% if currentVariant.metafields.custom['max_pressure'].value != blank %}
          {% assign show_maxpressure = true %}
      {% endif %}

      {% if currentVariant.metafields.custom['hose_length'].value != blank %}
          {% assign show_hose_length = true %}
      {% endif %}      
{% endfor %}

{% if show_basics == true
  or show_dimensions == true
  or show_fittings == true
  or show_image == true
  or show_part_number == true
  or show_title == true
  or show_weight == true
%}
  {% assign show_basics = true %}
{% endif %}


{% if show_air_inlet_fnpt == true
  or show_air_hose_id == true
  or show_flow == true
  or show_grams == true
  or show_hose_length == true
  or show_inlet_connection == true
  or show_maxpressure == true 
  or show_min_compressor == true
  or show_noise_level == true
  or show_output_thrust == true
  or show_soil_excavation_rate == true
  or show_steel_drum_guage == true
  or show_syphon_flow_rate == true
  or show_vacuum_flow == true
  or show_vacuum_hose_id == true
  or show_vacuum_lift == true
%}
  {% assign show_spec = true %}
{% endif %}

{%- liquid
  assign has_variant_metafield = false
  assign metafield_namespace = block.settings.variant_metafield_namespace
  assign metafield_key = block.settings.variant_metafield_key
  
  if metafield_namespace != blank and metafield_key != blank
    assign has_variant_metafield = true
  endif
-%}

{% if show_spec or show_basics %}
<hr><div class="specifications-table page-width">
  {% if section.settings.specifications_heading %}<h2>{{ section.settings.specifications_heading }}</h2>{% endif %}

      
    {% comment %}{% assign p_entries = product_list | sort: 'title' %}{% endcomment %}

      <div id="{{ product.selected_or_first_available_variant.sku }}-specifications" class="table-content">
        <div class="table-container">
          <table class="specifications-table">
            <thead>
              <tr>
                {% if show_part_number == true %}
                  <th width="10%">Part Number</th>
                {% endif %}

                {% if show_title == true %}
                  <th width="10%">Description</th>
                {% endif %}

                {% if show_fittings == true and request.page_type == 'product' %}
                  <th width="6%">Fittings</th>
                {% endif %}
                {% if show_air_hose_id == true and show_type_fields %}
                  <th width="7%">
                    Air <br>
                    Hose ID<br>
                    (in)
                  </th>
                {% endif %}
                {% if show_vacuum_hose_id == true and show_type_fields %}
                  <th width="8%">
                    Vacuum <br>
                    Hose ID<br>
                    (in)
                  </th>
                {% endif %}
                {% if show_hose_length == true and show_type_fields %}
                  <th width="7%">
                    Hose Length
                    (in)
                  </th>
                {% endif %}                
                {% if show_inlet_connection == true  and show_type_fields %}
                  <th width="7%">
                    {% unless request.page_type == 'page' %}Compressed <br>
                    Air{% endunless %} Inlet<br>
                    (in)
                  </th>
                {% endif %}
                {% if show_image == true %}
                  <th width="10%">Product</th>
                {% endif %}                
                {% if show_flow == true  and show_type_fields %}
                  <th width="10%">
                    Compressed <br>
                    Air Usage<br>
                    (cfm)
                  </th>
                {% endif %}
                {% if show_min_compressor == true  and show_type_fields %}
                  <th width="10%">
                    Min. Size <br>
                    Air Compressor<br>
                    (hp)
                  </th>
                {% endif %}
                {% if show_vacuum_flow == true  and show_type_fields %}
                  <th width="8%">
                    Vacuum Flow<br>
                    (cfm)
                  </th>
                {% endif %}
                {% if show_vacuum_lift == true and show_type_fields %}
                  <th width="8%">
                    Vacuum <br>
                    Lift<br>
                    (in H20)
                  </th>
                {% endif %}
                {% if show_syphon_flow_rate == true and show_type_fields %}
                  <th width="9%">
                    Syphon <br>
                    Flow Rate<br>
                    (gph)
                  </th>
                {% endif %}
                {% if show_output_thrust == true and show_type_fields %}
                  <th width="8%">
                    Output <br>
                    Thrust<br>
                    (lbs)
                  </th>
                {% endif %}
                {% if show_noise_level == true and show_type_fields %}
                  <th width="8%">
                    Noise <br>
                    Level<br>
                    (dBA)
                  </th>
                {% endif %}
                {% if show_steel_drum_guage == true and show_type_fields %}
                  <th width="8%">
                    Min.<br>
                    Steel Drum<br>
                    (Gauge)
                  </th>
                {% endif %}
                {% if show_maxpressure == true and show_type_fields %}
                  <th width="6%">
                    Max<br>
                    Pressure
                  </th>
                {% endif %}
                {% if show_inlet_connection == true and request.page_type == 'page' and show_type_fields %}
                  <th width="7%">
                      Outlet<br>
                  </th>
                {% endif %}                
                {% if show_fittings == true and request.page_type == 'page' and show_type_fields %}
                  <th width="8%">Fittings</th>
                {% endif %}                
                {% if show_dimensions == true %}
                  <th width="10%">
                    Dimensions<br>
                    (L" x W" x H")
                  </th>
                {% endif %}
                {% if show_weight == true %}
                  <th width="6%">
                    Weight<br>
                    (lbs)
                  </th>
                {% endif %}
                {% if show_extra_fields == true %}
                  <th width="6%">
                    {{  extra_field }}
                  </th>
                {% endif %}
                {%- if has_variant_metafield and block.settings.variant_metafield_label != blank -%}
                    <th width="6%">{{ block.settings.variant_metafield_label }}</th>
                  {%- endif -%}              

              </tr>
            </thead>


           
            <tbody>
                    {% for entry in p_entries %}
                          {% assign handle = entry.handle %}
                          {% assign currentProduct = all_products[handle] %}       
                          {% assign currentVariant = currentProduct.selected_or_first_available_variant %}    
                          
                          {% if currentVariant.metafields.custom.max_pressure.value != blank %}
                              {% assign show_maxpressure = true %} 
                          {% endif %}
                          {% if show_extra_fields %}
                            {% capture clean_title %}{% render 'gua-title_v3',product:currentProduct, text_style:'basic' %}{% endcapture %}
                            {% assign clean_title = clean_title | strip %}
                            {% assign extra_value = currentProduct.title | remove: clean_title | remove: '- ' %}
                          {% endif %}

                <tr class="{% if currentVariant.sku == product.selected_or_first_available_variant.sku and highlight %}active{% endif %}">
                  {% if show_part_number == true and currentVariant.sku %}
                    <td>
                      <span class="td-value td-noBr here"><a href="{{ currentProduct.url }}" title="{{ currentVariant.sku }}">{{ currentVariant.sku }}</a></span>
                    </td>
                  {% elsif show_part_number == true %}
                    <td>{{ currentProduct.variants.size }}
                      <span class="td-value td-noBr {{ currentProduct.title }}"><a href="{{ product.url }}" title="{{ product.sku }}">{{ product.sku }}</a></span>
                    </td>                    
                  {% endif %}
                {% if show_title == true %}
                    <td width="10%">{{ currentProduct.title }}</td>
                {% endif %}                  
                {% if show_fittings == true and request.page_type == 'product'  and show_type_fields %} 
                    <td>
                      <span class="td-value td-noBr">{{ currentVariant.metafields.global.Fittings.value }}</span>
                    </td>
                  {% endif %}
                  {% if show_air_hose_id == true and show_type_fields %}
                    <td>
                      <span class="td-value">{{ currentVariant.metafields.global['Air-Hose-ID'].value }}"</span>
                    </td>
                  {% endif %}
                  {% if show_vacuum_hose_id == true and show_type_fields %}
                    <td>
                      <span class="td-value">{{ currentVariant.metafields.global['Vacuum-Hose-ID'].value }}</span>
                    </td>
                  {% endif %}
                  {% if show_hose_length == true and show_type_fields %}
                    <td>
                      <span class="td-value">{{ currentVariant.metafields.custom.hose_length.value }}'</span>
                    </td>
                  {% endif %}                    
                  {% if show_inlet_connection == true and show_type_fields %}
                    <td>
                      <span class="td-value">{{ currentVariant.metafields.global['Inlet-Connection'].value }}'</span>
                    </td>
                  {% endif %}

                    {% if show_image == true %}
                      {% assign img_size = block.settings.variant_image_size | default: 90 %}
                    <td width="10%">{{ currentProduct.featured_image | image_url:width:img_size | image_tag }}</td>
                    {% endif %}  

                  {% if show_flow == true and show_type_fields %}
                    <td>
                      <span class="td-value">{{ currentVariant.metafields.global.Flow.value }}</span>
                    </td>
                  {% endif %}
                  {% if show_min_compressor == true and show_type_fields %}
                    <td>
                      <span class="td-value">{{ currentVariant.metafields.global['Min-Compressor-Required'].value }}</span>
                    </td>
                  {% endif %}
                  {% if show_vacuum_flow == tru and show_type_fields %}
                    <td>
                      <span class="td-value">{{ currentVariant.metafields.global['Vacuum-Flow'].value }}</span>
                    </td>
                  {% endif %}
                  {% if show_vacuum_lift == true and show_type_fields %}
                    <td>
                      <span class="td-value">{{ currentVariant.metafields.global['Vacuum-Lift'].value }}</span>
                    </td>
                  {% endif %}
                  {% if show_syphon_flow_rate == true and show_type_fields %}
                    <td>
                      <span class="td-value">{{ currentVariant.metafields.global['Syphon-Flow-Rate'].value }}</span>
                    </td>
                  {% endif %}
                  {% if show_output_thrust == true and show_type_fields %}
                    <td>
                      <span class="td-value">{{ currentVariant.metafields.global['Output-Thrust'].value }}</span>
                    </td>
                  {% endif %}
                  {% if show_noise_level == true and show_type_fields %}
                    <td>
                      <span class="td-value">{{ currentVariant.metafields.global['Noise-Level'].value }}</span>
                    </td>
                  {% endif %}
                  {% if show_steel_drum_guage == true and show_type_fields %}
                    <td>
                      <span class="td-value">{{ currentVariant.metafields.global['Steel-Drum-Gauge'].value }}</span>
                    </td>
                  {% endif %}
                  {% if show_maxpressure == true and show_type_fields %}
                      <td>
                        <span class="td-value">{{ currentVariant.metafields.custom.max_pressure.value }}</span>
                      </td>
                  {% endif %}
                  {% if show_inlet_connection == true and request.page_type == 'page' and show_type_fields %}
                    <td>
                      <span class="td-value">{{ currentVariant.metafields.global['Inlet-Connection'].value }}'</span>
                    </td>
                  {% endif %}                  
                {% if show_fittings == true and request.page_type == 'page'  and show_type_fields %} 
                    <td>
                      <span class="td-value td-noBr">{{ currentVariant.metafields.global.Fittings.value }}</span>
                    </td>
                  {% endif %}
                  {%- if has_variant_metafield -%}
                    <td class="">
                      {%- assign metafield_value = currentVariant.metafields[metafield_namespace][metafield_key].value -%}
                      {{ metafield_value | default: '-' }}
                    </td>
                  {%- endif -%}                  
                  {% if show_dimensions == true %}
                    <td>
                      <span class="td-value">
                        {{-
                          currentVariant.metafields.global['Each-Length'].value
                          | append: ' X '
                          | append: currentVariant.metafields.global['Each-Width'].value
                          | append: ' X '
                          | append: currentVariant.metafields.global['Each-Height'].value
                        -}}
                      </span>
                    </td>
                  {% endif %}
                  {% if show_weight == true %}
                    <td>
                      <span class="td-value">{{ currentVariant.metafields.global['Each-Weight'].value }}</span>
                    </td>
                  {% endif %}

                  {% if show_extra_fields == true %}
                    <td>
                      <span class="td-value">{{ extra_value }}</span>
                    </td>
                {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

</div>
{% endif %}