{% assign broken_list = 'Personnel Cleaning Station 5.5 Gallon Vacuum' %}
{% assign parts_list = 'ack),Gallon' %}
{% assign parts = parts_list | split:',' %}
{% assign review = '' %}
{% assign broken = '' %}
 <div style="display:block;">
          <table style="max-width:1800px;font-size:13px;">
            <thead>
              <tr>
                {% comment %} <th>Num</th> {% endcomment %}
                <th>Original Title</th> 
                <th>Product Type</th>
                {% comment %} <th>Display Name</th>{% endcomment %}
                <th>Format 1</th>    
                {% comment %} <th>Family</th>{% endcomment %}
                <th>Product Value</th>                
                <th>Size</th>
                <th>Series</th>      
                <th>Diff</th>                   
              </tr>
            </thead>
            <tbody>
          
              
          {% for product in collection %}
                    {% if broken_list contains product.title %}{% assign broken = 'broken' %}{% endif %}
                      {% for part in parts %}{% if product.title contains part %}{% assign review = ' review' %}{% endif %}{% endfor %}
                <tr class="{{ broken }}{{ review }}">
                    {% comment %} <td>{{ forloop.index }}</td> {% endcomment %}
                    <td>{{ product.title }}</td>
                    <td>{{ product.type }}</td>     
                    {% comment %} <td>{{ product.metafields.custom.linked_products.value.group_name }}</td> {% endcomment %}
                    <td>{% render 'gua-title_v3',product:product, text_style:'format1' %}</td>   
                    {% comment %} <td>{% render 'gua-title_v3',product:product, change_model: 'get_family' %}</td>{% endcomment %}
                    <td>{{ product.metafields.custom.linked_product_value }}</td>
                    <td>{% render 'gua-title_v3',product:product, remove_after_dash: false,change_model: 'get_size' %}</td>
                    <td>{% render 'gua-title_v3',product:product, remove_after_dash: false,change_model: 'get_series' %}</td>
                    <td>{% render 'gua-title_v3',product:product, remove_after_dash: false,change_model: 'get_diff' %}</td>                 
                </tr>
                  {% assign broken = '' %}{% assign review = '' %}
            {% endfor %}
            </tbody>
          </table>


    </div>  