{% assign broken_list = 'Gunslinger® Magnetic Air Gun Holder,Exhaust Silencer Foam Insert - B/D/S Venturi,PowerQUAD™ 20 Gallon Vacuum Kit w/ 1.5" Inlet,PowerQUAD™ 20/30 Gallon Vacuum Generating Head Kit w/ 1.5" Inlet,PowerQUAD™ 30 Gallon Vacuum Kit w/ 1.5" Inlet,PowerQUAD™ 5 Gallon Vacuum Kit w/ 1.25" Inlet,PowerQUAD™ 55 Gallon Vacuum Kit w/ 1.5" Inlet' %}
{% assign brokens = broken_list | split:',' %}
{% assign parts_list = 'ack),Piece' %}
{% assign parts = parts_list | split:',' %}

 <div style="display:block;">
          <table style="max-width:1800px;font-size:13px;">
            <thead>
              <tr>
                {% comment %} <th>Num</th> {% endcomment %}
                <th>Original Title</th> 
                <th>Product Type</th>
                {% comment %} <th>Display Name</th>{% endcomment %}
                <th>Format 1</th>    
                <th>Format 2</th>                    
                   {% comment %}<th>Product Value</th>{% endcomment %}
                   {% comment %}<<th>Size</th>{% endcomment %}
                   {% comment %}<<th>Series</th>{% endcomment %}
                   {% comment %}<<th>Diff</th>{% endcomment %}
              </tr>
            </thead>
            <tbody>
          
              
          {% for product in collection %}
                    {% assign broken = '' %}{% assign review = '' %}            
                    {% if broken_list contains product.title %}{% assign broken = 'broken' %}{% endif %}
                      {% for part in parts %}{% if product.title contains part %}{% assign review = ' review' %}{% endif %}{% endfor %}
                <tr class="{{ broken }}{{ review }}">
                    {% comment %} <td>{{ forloop.index }}</td> {% endcomment %}
                    <td>{{ product.title }}</td>
                    <td>{{ product.type }}</td>     
                   {% comment %}<td>{{ product.metafields.custom.linked_products.value.group_name }}</td>{% endcomment %}
                    <td>{% render 'gua-title_v3',product:product, text_style:'format1' %}</td>
                    <td>{% render 'gua-title_v3',product:product, text_style:'format2' %}</td>                       
                   {% comment %}<td>{{ product.metafields.custom.linked_product_value | split: '(' | first }}<br>{{ product.metafields.custom.linked_product_value | split: '(' | last | remove:')' }}</td>{% endcomment %}
                   {% comment %}<<td>{% render 'gua-title_v3',product:product, remove_after_dash: false,change_model: 'get_size' %}</td>{% endcomment %}
                   {% comment %}<<td>{% render 'gua-title_v3',product:product, remove_after_dash: false,change_model: 'get_series' %}</td>{% endcomment %}
                   {% comment %}<<td>{% render 'gua-title_v3',product:product, remove_after_dash: false,change_model: 'get_diff' %}</td>{% endcomment %}
                </tr>
            {% endfor %}
{% if 1 == 2 %}
              <tr><td colspan="7" style="background:#000;"></td></tr>
              <tr><td colspan="7" style="background:#ccc;">BROKEN TITLES</td></tr>
            {% for product in brokens %}
                    {% assign broken = '' %}{% assign review = '' %}            
                    {% if broken_list contains product.title %}{% assign broken = 'broken' %}{% endif %}
                      {% for part in parts %}{% if product.title contains part %}{% assign review = ' review' %}{% endif %}{% endfor %}
                <tr class="{{ broken }}{{ review }}">
                    <td>{{ product }}</td>
                    <td>{{ product.type }}</td>     
                    <td>{% render 'gua-title_v3',product:product, text_style:'format1' %}</td>   
                    <td>{{ product.metafields.custom.linked_product_value | split: '(' | first }}<br>{{ product.metafields.custom.linked_product_value | split: '(' | last | remove:')' }}</td>
                    <td>{% render 'gua-title_v3',product:product, remove_after_dash: false,change_model: 'get_size' %}</td>
                    <td>{% render 'gua-title_v3',product:product, remove_after_dash: false,change_model: 'get_series' %}</td>
                    <td>{% render 'gua-title_v3',product:product, remove_after_dash: false,change_model: 'get_diff' %}</td>                 
                </tr>
            {% endfor %}
  {% endif %}
            </tbody>
          </table>


    </div>  