<div class="specifications-table page-width">
  {% if section.settings.specifications_heading %}<h2>{{ section.settings.specifications_heading }}</h2>{% endif %}

  {% assign product_group = section.settings.products %}
<ul>
  <ol>{{ product_group }}</ol>
  <ol>{{ product_group.size }}</ol>    
  <ol>{{ product_group.id }}</ol>  
  <ol>{{ product_group.value }}</ol>
  
</ul>
{% assign warning65_text = product.metafields.custom.warning65_text.value %}
{% assign warning65_url = product.metafields.custom.warning65_url.value %}
{% assign operation_manual_url = product.metafields.custom.literature_operation_manual_url.value %}
{% assign sell_sheet_url = product.metafields.custom.literature_sell_sheet_url.value %}
{% assign show_part_number = false %}
{% assign show_spec_tab = false %}
{% assign show_air_inlet_FNPT = false %}
{% assign show_air_hose_id = false %}
{% assign show_vacuum_flow = false %}
{% assign show_Vacuum_Hose_ID = false %}
{% assign show_steel_drum_guage = false %}
{% assign show_syphon_flow_rate = false %}
{% assign show_Inlet-Connection = false %}
{% assign show_output_thrust = false %}
{% assign show_grams = false %}
{% assign show_min_compressor = false %}
{% assign show_soil_excavation_rate = false %}
{% assign show_noise_level = false %}
{% assign show_flow = false %}
{% assign show_fittings = false %}
{% assign show_Vacuum_Lift = false %}
{% assign show_Dimensions = false %}
{% assign show_weight = false %}

{% for variant in product.variants %}
  {% if variant.sku != blank %}
    {% assign show_part_number = true %}
  {% endif %}

  {% if variant.metafields.global['Each-Height'].value != blank
    and variant.metafields.global['Each-Length'].value != blank
    and variant.metafields.global['Each-Width'].value != blank
  %}
    {% assign show_Dimensions = true %}
  {% endif %}

  {% if variant.metafields.global['Syphon-Flow-Rate'].value != blank %}
    {% assign show_syphon_flow_rate = true %}
  {% endif %}

  {% if variant.metafields.global['Steel-Drum-Gauge'].value != blank %}
    {% assign show_steel_drum_guage = true %}
  {% endif %}

  {% if variant.metafields.global['Output-Thrust'].value != blank %}
    {% assign show_output_thrust = true %}
  {% endif %}

  {% if variant.metafields.global['Noise-Level'].value != blank %}
    {% assign show_noise_level = true %}
  {% endif %}

  {% if variant.metafields.global['Min-Compressor-Required'].value != blank %}
    {% assign show_min_compressor = true %}
  {% endif %}

  {% if variant.metafields.global['Inlet-Connection'].value != blank %}
    {% assign show_Inlet-Connection = true %}
  {% endif %}

  {% if variant.metafields.global.grams.value != blank %}
    {% assign show_grams = true %}
  {% endif %}

  {% if variant.metafields.global.Flow.value != blank %}
    {% assign show_flow = true %}
  {% endif %}

  {% if variant.metafields.global.Fittings.value != blank %}
    {% assign show_fittings = true %}
  {% endif %}

  {% if variant.metafields.global['Each-Weight'].value != blank %}
    {% assign show_weight = true %}
  {% endif %}

  {% if variant.metafields.global['Air-Hose-ID'].value != blank %}
    {% assign show_air_hose_id = true %}
  {% endif %}

  {% if variant.metafields.global['Vacuum-Lift'].value != blank %}
    {% assign show_Vacuum_Lift = true %}
  {% endif %}

  {% if variant.metafields.global['Vacuum-Hose-ID'].value != blank %}
    {% assign show_Vacuum_Hose_ID = true %}
  {% endif %}

  {% if variant.metafields.global['Vacuum-Flow'].value != blank %}
    {% assign show_vacuum_flow = true %}
  {% endif %}

  {% if variant.metafields.custom.air_inlet_fnpt.value != blank %}
    {% assign show_air_inlet_FNPT = true %}
  {% endif %}

  {% if variant.metafields.custom.soil_excavation_rate.value != blank %}
    {% assign show_soil_excavation_rate = true %}
  {% endif %}
{% endfor %}

{% if show_part_number == true
  or show_air_inlet_FNPT == true
  or show_min_compressor == true
  or show_noise_level == true
  or show_flow == true
  or show_vacuum_flow == true
  or show_Vacuum_Lift == true
  or show_syphon_flow_rate == true
  or show_steel_drum_guage == true
  or show_output_thrust == true
  or show_Inlet-Connection == true
  or show_grams == true
  or show_fittings == true
  or show_air_hose_id == true
  or show_Vacuum_Hose_ID == true
  or show_soil_excavation_rate == true
  or show_Dimensions == true
  or show_weight == true
%}
  {% assign show_spec_tab = true %}
{% endif %}
    
    {% if show_spec_tab == true %}
      <div id="{{ variant.sku }}-specifications" class="table-content">
        <div class="table-container">
          <table class="specifications-table">
            <thead>
              <tr>
                {% if show_part_number == true %}
                  <th width="10%">Part Number</th>
                {% endif %}
                {% if show_fittings == true %}
                  <th width="6%">Fittings</th>
                {% endif %}
                {% if show_air_hose_id == true %}
                  <th width="7%">
                    Air <br>
                    Hose ID<br>
                    (in)
                  </th>
                {% endif %}
                {% if show_Vacuum_Hose_ID == true %}
                  <th width="8%">
                    Vacuum <br>
                    Hose ID<br>
                    (in)
                  </th>
                {% endif %}
                {% if show_Inlet-Connection == true %}
                  <th width="7%">
                    Compressed <br>
                    Air Inlet<br>
                    (in)
                  </th>
                {% endif %}
                {% if show_flow == true %}
                  <th width="10%">
                    Compressed <br>
                    Air Usage<br>
                    (cfm)
                  </th>
                {% endif %}
                {% if show_min_compressor == true %}
                  <th width="10%">
                    Min. Size <br>
                    Air Compressor<br>
                    (hp)
                  </th>
                {% endif %}
                {% if show_vacuum_flow == true %}
                  <th width="8%">
                    Vacuum Flow<br>
                    (cfm)
                  </th>
                {% endif %}
                {% if show_Vacuum_Lift == true %}
                  <th width="8%">
                    Vacuum <br>
                    Lift<br>
                    (in H20)
                  </th>
                {% endif %}
                {% if show_syphon_flow_rate == true %}
                  <th width="9%">
                    Syphon <br>
                    Flow Rate<br>
                    (gph)
                  </th>
                {% endif %}
                {% if show_output_thrust == true %}
                  <th width="8%">
                    Output <br>
                    Thrust<br>
                    (lbs)
                  </th>
                {% endif %}
                {% if show_noise_level == true %}
                  <th width="8%">
                    Noise <br>
                    Level<br>
                    (dBA)
                  </th>
                {% endif %}
                {% if show_steel_drum_guage == true %}
                  <th width="8%">
                    Min.<br>
                    Steel Drum<br>
                    (Gauge)
                  </th>
                {% endif %}
                {% if show_Dimensions == true %}
                  <th width="10%">
                    Dimensions<br>
                    (L" x W" x H")
                  </th>
                {% endif %}
                {% if show_weight == true %}
                  <th width="6%">
                    Weight<br>
                    (lbs)
                  </th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for variant in product.variants %}
                <tr>
                  {% if show_part_number == true %}
                    <td>
                      <span class="td-title">Part Number</span>
                      <span class="td-value td-noBr">{{ variant.sku }}</span>
                    </td>
                  {% endif %}
                  {% if show_fittings == true %}
                    <td>
                      <span class="td-title">Fittings</span>
                      <span class="td-value td-noBr">{{ variant.metafields.global.Fittings.value }}</span>
                    </td>
                  {% endif %}
                  {% if show_air_hose_id == true %}
                    <td>
                      <span class="td-title">Air Hose ID</span>
                      <span class="td-value">{{ variant.metafields.global['Air-Hose-ID'].value }}</span>
                    </td>
                  {% endif %}
                  {% if show_Vacuum_Hose_ID == true %}
                    <td>
                      <span class="td-title">Vacuum Hose ID</span>
                      <span class="td-value">{{ variant.metafields.global['Vacuum-Hose-ID'].value }}</span>
                    </td>
                  {% endif %}
                  {% if show_Inlet-Connection == true %}
                    <td>
                      <span class="td-title">Inlet Connection</span>
                      <span class="td-value">{{ variant.metafields.global['Inlet-Connection'].value }}</span>
                    </td>
                  {% endif %}
                  {% if show_flow == true %}
                    <td>
                      <span class="td-title">Flow (cfm)</span>
                      <span class="td-value">{{ variant.metafields.global.Flow.value }}</span>
                    </td>
                  {% endif %}
                  {% if show_min_compressor == true %}
                    <td>
                      <span class="td-title">Min. Compressor Required (hp)</span>
                      <span class="td-value">{{ variant.metafields.global['Min-Compressor-Required'].value }}</span>
                    </td>
                  {% endif %}
                  {% if show_vacuum_flow == true %}
                    <td>
                      <span class="td-title">Vacuum Flow (cfm)</span>
                      <span class="td-value">{{ variant.metafields.global['Vacuum-Flow'].value }}</span>
                    </td>
                  {% endif %}
                  {% if show_Vacuum_Lift == true %}
                    <td>
                      <span class="td-title">Vacuum Lift (in H20)</span>
                      <span class="td-value">{{ variant.metafields.global['Vacuum-Lift'].value }}</span>
                    </td>
                  {% endif %}
                  {% if show_syphon_flow_rate == true %}
                    <td>
                      <span class="td-title">Syphon Flow Rate (gph)</span>
                      <span class="td-value">{{ variant.metafields.global['Syphon-Flow-Rate'].value }}</span>
                    </td>
                  {% endif %}
                  {% if show_output_thrust == true %}
                    <td>
                      <span class="td-title">Output Thrust (lbs)</span>
                      <span class="td-value">{{ variant.metafields.global['Output-Thrust'].value }}</span>
                    </td>
                  {% endif %}
                  {% if show_noise_level == true %}
                    <td>
                      <span class="td-title">Noise Level (dB)</span>
                      <span class="td-value">{{ variant.metafields.global['Noise-Level'].value }}</span>
                    </td>
                  {% endif %}
                  {% if show_steel_drum_guage == true %}
                    <td>
                      <span class="td-title">Steel Drum Gauge</span>
                      <span class="td-value">{{ variant.metafields.global['Steel-Drum-Gauge'].value }}</span>
                    </td>
                  {% endif %}
                  {% if show_Dimensions == true %}
                    <td>
                      <span class="td-title"
                        >Dimensions <br>
                        (L" x W" x H")</span
                      >
                      <span class="td-value">
                        {{-
                          variant.metafields.global['Each-Length'].value
                          | append: ' X '
                          | append: variant.metafields.global['Each-Width'].value
                          | append: ' X '
                          | append: variant.metafields.global['Each-Height'].value
                        -}}
                      </span>
                    </td>
                  {% endif %}
                  {% if show_weight == true %}
                    <td>
                      <span class="td-title">Weight (lbs)</span>
                      <span class="td-value">{{ variant.metafields.global['Each-Weight'].value }}</span>
                    </td>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% endif %}
</div>

{% schema %}
  {
    "name": "GUA Specifications Chart",
   "settings": [
     {
          "type": "text",
           "id":"specifications_heading",
          "label": "Specifications Heading",
          "default": "Specifications"       
     },
        {
          "id": "products",
          "type": "product_list",
          "label": "Products",
          "info": "Select products"
        },
        {
          "id": "option_name",
          "label": "Option Name",
          "type": "text",
          "default": "Extension Length"
        }
      ],
  "presets": [
    {
      "name": "GUA Specifications Chart",
      "category":"Guardair"
    }
  ]
}
{% endschema %}