{% liquid
  assign number_of_rows = section.settings.number_of_rows
%}

<div class="flex-section color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding ">
  <div class="page-width flex__content">
      {% for i in (1..number_of_rows) %}
    <div class="flex__row page-width row-{{ i }}">
        
          {% for block in section.blocks %}
             {% if block.settings.row == i %}
                  <div class="flex__item {% if block.settings.show_on_desktop != true %} hide-on-desktop{% endif %}{% if block.settings.show_on_mobile != true %} hide-on-mobile{% endif %}"
                  style="--flex-grow: {{ block.settings.flex_grow }};--flex-shrink: {{ block.settings.flex_shrink }};--flex-basis: {{ block.settings.flex_basis }};" {{ block.shopify_attributes }}>
                    {% case block.type %}
                      {% when 'heading' %}        
                              {% render 'gua-b-heading',block:block %}     
                      
                      {% when 'subscribe' %}        
                              {% render 'gua-b-subscribe',block:block %}
                      
                      {% when 'social' %}                  
                              {% render 'gua-b-social',block:block %}
                      
                      {% when 'paragraph' %}
                              {% render 'gua-b-paragraph',block:block %}
                      
                      {% when 'contact' %}
                              {% render 'gua-b-contact',block:block %}
                      
                      {% when 'linklist' %}
                              {% render 'gua-b-menu',block:block %}
                      
                      {% when 'image_block' %}
                              {% render 'gua-b-image-block',block:block %}
          
                      {% else %}
                        {% comment %}
                          This block type is not supported.
                        {% endcomment %}
                    {% endcase %}
                  </div>
               {% endif %}
                {% endfor %}

    </div>
        {% endfor %}
    </div>
  </div>

{% style %}
 
  .section-{{ section.id }}-padding {padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;}

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {padding-top: {{ section.settings.padding_top }}px;padding-bottom: {{ section.settings.padding_bottom }}px;}
  }  
#shopify-section-{{ section.id }} .flex__row,
  #shopify-section-{{ section.id }} .flex__item,
  #shopify-section-{{ section.id }} .flex__content-block {display:flex;display: -webkit-flex;display: -moz-flexbox;display: -ms-flexbox;display: -ms-flexbox;-webkit-flex-wrap: wrap;  }
#shopify-section-{{ section.id }} .flex__row {align-items:{{ section.settings.align_content }};}
  @media screen and (min-width:768px) {
    #shopify-section-{{ section.id }} .flex__row {justify-content: {{ section.settings.justify_content }};}
  }
  @media screen and (max-width:768px) {
  #shopify-section-{{ section.id }} .flex__row, #shopify-section-{{ section.id }} .flex__content-block {justify-content: {{ section.settings.justify_content_mobile }};
   }
  {% comment %}
#shopify-section-{{ section.id }} .flex__content-block__text{line-height: 1.2;}
#shopify-section-{{ section.id }} .flex__content-block__button{margin-top: 26px;}
#shopify-section-{{ section.id }} .flex__content-block__heading{margin-block: 0; color: rgba(var(--color-button), var(--alpha-button-background));}
#shopify-section-{{ section.id }} .flex__content-image{margin-bottom: 12px;}
#shopify-section-{{ section.id }} .flex__content-block__contact-item{display: flex; flex-wrap: wrap; align-items: center; line-height: 1.2; column-gap: 6px;}
#shopify-section-{{ section.id }} .flex__content-block__contact-item svg{width: 13px; transform: translateY(1px); fill: rgb(var(--color-link));}
#shopify-section-{{ section.id }} .flex__content-block__contact{display: flex; flex-direction: column; gap: 2px; color: rgba(var(--color-foreground), 1); margin-top: 2px;}
#shopify-section-{{ section.id }} .flex__content-block__contact-item a{color: inherit; text-decoration: inherit;}
#shopify-section-{{ section.id }} .flex__content-block__contact-item span{padding-left: calc(13px + 6px); font-size: 14px; color: rgba(var(--color-foreground), 0.6); margin-top: 4px; width: 100%;}
#shopify-section-{{ section.id }} .flex__content-block__links{gap: 2px; display: flex; flex-direction: column;}
#shopify-section-{{ section.id }} .flex__content-block__links a{color: inherit; text-decoration: inherit; line-height: 1.2;}
#shopify-section-{{ section.id }} .flex__content a:not(.button):hover{text-decoration: underline; color: rgb(var(--color-link));}
#shopify-section-{{ section.id }} .flex__content-block__divisions{display: flex; align-items: center; gap: 32px; margin-top: 20px;}
#shopify-section-{{ section.id }} .flex__bottom{background: rgb(var(--color-button)); color: rgba(var(--color-button-text), 1); padding-block: 6px;}
#shopify-section-{{ section.id }} .flex__bottom__content-links{display: flex; gap: 8px;}
#shopify-section-{{ section.id }} .flex__bottom__content{display: flex; justify-content: space-between;}
#shopify-section-{{ section.id }} .flex__bottom__content-links__link{color: inherit; text-decoration: inherit;}
#shopify-section-{{ section.id }} flex .list-social__link{padding: 8px; height: 100%; width: 100%;}
#shopify-section-{{ section.id }} .flex__top{--background-color: #4b92db; background: var(--background-color);}
#shopify-section-{{ section.id }} .flex__top__content{display: grid; grid-template-columns: 1fr 1fr; color: white; padding-top: 27px; padding-bottom: 20px;}
#shopify-section-{{ section.id }} flex .list-social{justify-content: flex-start; column-gap: 12px; padding-top: 14px;}
#shopify-section-{{ section.id }} .flex__top .flex__content-block__button{margin-top: 14px;}
#shopify-section-{{ section.id }} .flex__content-block__heading{margin-bottom: 4px;}
#shopify-section-{{ section.id }} flex .list-social .list-social__item{background: white; border-radius: 50%; height: 46px; width: 46px;}
#shopify-section-{{ section.id }} flex .list-social .list-social__item svg{width: 100%; height: 100%; color: var(--background-color);}
#shopify-section-{{ section.id }} .flex__top__content .flex__content-block__heading{color: white;}
#shopify-section-{{ section.id }} .flex__bottom__content{font-size: 14px;}
@media screen and (max-width: 768px){
  #shopify-section-{{ section.id }} .flex__content-block{--row: var(--mobile-row); --column: var(--mobile-column); --rowspan: var(--mobile-row-span); --colspan: var(--mobile-column-span);}
  #shopify-section-{{ section.id }} .flex__content-block__divisions{flex-direction: column; align-items: flex-start; gap: 0;}
  #shopify-section-{{ section.id }} .flex__content{grid-template-columns: 1fr;}
  #shopify-section-{{ section.id }} .flex__bottom__content{flex-direction: column; align-items: flex-start;}
  #shopify-section-{{ section.id }} .flex__bottom__content-links{flex-wrap: wrap; row-gap: 0; column-gap: 4px; font-size: 12px;}
  #shopify-section-{{ section.id }} .flex__bottom__content-text-mobile{font-size: 12px; line-height: 1.3; margin-bottom: 12px;}
  #shopify-section-{{ section.id }} .flex__bottom__content{padding-top: 18px; padding-bottom: 24px;}
  #shopify-section-{{ section.id }} .flex__bottom{color: rgba(var(--color-button-text), 0.8);}
  #shopify-section-{{ section.id }} .flex__bottom strong{color: rgba(var(--color-button-text), 1);}
  #shopify-section-{{ section.id }} .flex__top__content{display: flex; flex-direction: column;}
  #shopify-section-{{ section.id }} .flex__top__content .flex__content-block:nth-child(2n){--background-color: rgb(var(--color-button)); background: var(--background-color); padding-top: 24px; margin-inline: -10px; padding-inline: 10px;}
  #shopify-section-{{ section.id }} .flex__top__content{padding-bottom: 0; padding-top: 24px;}
  #shopify-section-{{ section.id }} .flex__top__content .flex__content-block{padding-bottom: 24px;}
  #shopify-section-{{ section.id }} hc-accordion.flex__content-block__content{width: 100%;}
   
  #shopify-section-{{ section.id }} hc-accordion .flex__content-block__heading{margin-bottom: unset !important; padding-block: 14px 16px; line-height: 1.2;}
  #shopify-section-{{ section.id }} hc-accordion.flex__content-block__content{border-bottom: 1px solid #cbccce;}
  #shopify-section-{{ section.id }} .flex__content-block.flex__content-block-paragraph{border-bottom: 1px solid #cbccce; padding-bottom: 32px;}
  #shopify-section-{{ section.id }} .flex__content-block:last-child hc-accordion{border-bottom: unset;}
  #shopify-section-{{ section.id }} flex.flex .flex__content{padding-bottom: 4px;}
  #shopify-section-{{ section.id }} .flex__content-block__contact, .flex__content-block__links{padding-bottom: 16px;}
}
 {% endcomment %}
{% endstyle %}


{% schema %}
{
  "name": "GUA Flex Sections",
  "settings": [
    {
      "id": "color_scheme",
      "type": "color_scheme",
      "label": "Color Scheme"
    },
    {
      "id": "number_of_rows",
      "type": "range",
      "label": "Number of rows",
      "min": 1,
      "max": 3,
      "default": 2
    },
   {
          "type": "select",
          "id": "justify_content",
          "options": [
            {
              "value": "flex-start",
              "label": "Start"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "space-between",
              "label": "Space Between"
            },
            {
              "value": "flex-end",
              "label": "End"
            }           
          ],
          "default": "center",
          "label": "Flex Justify Content - Desktop"
        },
     {
          "type": "select",
          "id": "justify_content_mobile",
          "options": [
            {
              "value": "flex-start",
              "label": "Start"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "space-between",
              "label": "Space Between"
            },
            {
              "value": "flex-end",
              "label": "End"
            }           
          ],
          "default": "center",
          "label": "Flex Justify Content - Mobile"
        },
     {
          "type": "select",
          "id": "align_content",
          "options": [
            {
              "value": "flex-start",
              "label": "Start"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "flex-end",
              "label": "End"
            }           
          ],
          "default": "center",
          "label": "Flex Align Items"
        },
      {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "paragraph",
      "name": "Paragraph",
      "settings": [
       {
          "type": "header",
          "content": "Layout"
        },
        {
          "id": "row",
          "type": "number",
          "label": "Row",
          "default": 1
        },
        {
          "type": "select",
          "id": "flex_grow",
          "options": [
            {
              "value": "0",
              "label": "No"
            },
            {
              "value": "1",
              "label": "Yes"
            }           
          ],
          "default": "0",
          "label": "Flex grow",
        }, 
       {
          "type": "select",
          "id": "flex_shrink",
          "options": [
            {
              "value": "0",
              "label": "No"
            },
            {
              "value": "1",
              "label": "Yes"
            }           
          ],
          "default": "0",
          "label": "Flex shrink",
        },
        {
          "id": "flex_basis",
          "type": "text",
          "label": "Width",
          "default": "300",
          "info":"Acceptable values are auto, 300px, 30%"
        },
        {
          "id": "show_on_desktop",
          "type": "checkbox",
          "label": "Show on desktop",
          "default": true
        },
        {
          "id": "show_on_mobile",
          "type": "checkbox",
          "label": "Show on mobile",
          "default": true
        },
        {
          "type": "header",
          "content": "Customization"
        },
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        },
        {
          "id": "image_height",
          "type": "number",
          "label": "Image Height",
          "default": 54
        },
        {
          "id": "heading",
          "type": "text",
          "label": "Heading",
          "default": "Paragraph Heading"
        },
        {
          "id": "content",
          "type": "richtext",
          "label": "Content",
          "default": "<p>Paragraph Content</p>"
        },
        {
          "id": "button_link",
          "type": "url",
          "label": "Button Link"
        },
        {
          "id": "button_text",
          "type": "text",
          "label": "Button Text"
        }
      ]
    },
    {
      "type": "contact",
      "name": "Contact",
      "settings": [
         {
          "type": "header",
          "content": "Layout"
        },
        {
          "id": "row",
          "type": "number",
          "label": "Row",
          "default": 1
        },
        {
          "type": "select",
          "id": "flex_grow",
          "options": [
            {
              "value": "0",
              "label": "No"
            },
            {
              "value": "1",
              "label": "Yes"
            }           
          ],
          "default": "0",
          "label": "Flex grow",
        }, 
       {
          "type": "select",
          "id": "flex_shrink",
          "options": [
            {
              "value": "0",
              "label": "No"
            },
            {
              "value": "1",
              "label": "Yes"
            }           
          ],
          "default": "0",
          "label": "Flex shrink",
        },
        {
          "id": "flex_basis",
          "type": "text",
          "label": "Width",
          "default": "300",
          "info":"Acceptable values are auto, 300px, 30%"
        },
        {
          "id": "show_on_desktop",
          "type": "checkbox",
          "label": "Show on desktop",
          "default": true
        },
        {
          "id": "show_on_mobile",
          "type": "checkbox",
          "label": "Show on mobile",
          "default": true
        },
        {
          "type": "header",
          "content": "Customization"
        },
        {
          "id": "heading",
          "type": "text",
          "label": "Heading",
          "default": "Contact Us"
        },
        {
          "id": "content",
          "type": "richtext",
          "label": "Content",
          "default": "<p>Paragraph Content</p>"
        },
        {
          "id": "contact_us_link",
          "type": "url",
          "label": "Contact Us Link"
        },
        {
          "id": "contact_us_text",
          "type": "text",
          "label": "Contact Us Text",
          "default": "Contact Us"
        },
        {
          "id": "phone_icon",
          "type": "html",
          "label": "Phone Icon"
        },
        {
          "id": "phone_number",
          "type": "text",
          "label": "Phone Number"
        },
        {
          "id": "phone_hours",
          "type": "text",
          "label": "Phone Hours"
        },
        {
          "id": "email_icon",
          "type": "html",
          "label": "Email Icon"
        },
        {
          "id": "email_address",
          "type": "text",
          "label": "Email Address"
        },
        {
          "id": "live_chat_icon",
          "type": "html",
          "label": "Live Chat Icon"
        },
        {
          "id": "live_chat_text",
          "type": "text",
          "label": "Live Chat Text"
        },
        {
          "id": "live_chat_onclick",
          "type": "text",
          "label": "Live Chat JS Function"
        }
      ]
    },
    {
      "type": "linklist",
      "name": "Links",
      "settings": [
      {
          "type": "header",
          "content": "Layout"
        },
        {
          "id": "row",
          "type": "number",
          "label": "Row",
          "default": 1
        },
        {
          "type": "select",
          "id": "flex_grow",
          "options": [
            {
              "value": "0",
              "label": "No"
            },
            {
              "value": "1",
              "label": "Yes"
            }           
          ],
          "default": "0",
          "label": "Flex grow",
        }, 
       {
          "type": "select",
          "id": "flex_shrink",
          "options": [
            {
              "value": "0",
              "label": "No"
            },
            {
              "value": "1",
              "label": "Yes"
            }           
          ],
          "default": "0",
          "label": "Flex shrink",
        },
        {
          "id": "flex_basis",
          "type": "text",
          "label": "Width",
          "default": "300",
          "info":"Acceptable values are auto, 300px, 30%"
        },
        {
          "id": "show_on_desktop",
          "type": "checkbox",
          "label": "Show on desktop",
          "default": true
        },
        {
          "id": "show_on_mobile",
          "type": "checkbox",
          "label": "Show on mobile",
          "default": true
        },
        {
          "type": "header",
          "content": "Customization"
        },
        {
          "id": "heading",
          "type": "text",
          "label": "Heading"
        },
        {
          "id": "links",
          "type": "link_list",
          "label": "Links"
        }
      ]
    },
    {
      "type": "image_block",
      "name": "Image Blocks",
      "settings": [
        {
          "type": "header",
          "content": "Layout"
        },
        {
          "id": "row",
          "type": "number",
          "label": "Row",
          "default": 1
        },
        {
          "type": "select",
          "id": "flex_grow",
          "options": [
            {
              "value": "0",
              "label": "No"
            },
            {
              "value": "1",
              "label": "Yes"
            }           
          ],
          "default": "0",
          "label": "Flex grow",
        }, 
       {
          "type": "select",
          "id": "flex_shrink",
          "options": [
            {
              "value": "0",
              "label": "No"
            },
            {
              "value": "1",
              "label": "Yes"
            }           
          ],
          "default": "0",
          "label": "Flex shrink",
        },
        {
          "id": "flex_basis",
          "type": "text",
          "label": "Width",
          "default": "300",
          "info":"Acceptable values are auto, 300px, 30%"
        },
        {
          "id": "show_on_desktop",
          "type": "checkbox",
          "label": "Show on desktop",
          "default": true
        },
        {
          "id": "show_on_mobile",
          "type": "checkbox",
          "label": "Show on mobile",
          "default": true
        },
        {
          "type": "header",
          "content": "Customization"
        },
        {
          "id": "heading",
          "type": "text",
          "label": "Heading"
        },
        {
          "id": "image_height",
          "type": "number",
          "label": "Image Height",
          "default": 38
        },
        {
          "id": "division_link_1",
          "type": "url",
          "label": "Division Link 1"
        },
        {
          "id": "division_image_1",
          "type": "image_picker",
          "label": "Division Image 1"
        },
        {
          "id": "division_link_2",
          "type": "url",
          "label": "Division Link 2"
        },
        {
          "id": "division_image_2",
          "type": "image_picker",
          "label": "Division Image 2"
        }
      ]
    },
    {
      "type": "subscribe",
      "name": "Newsletter Subscribe",
      "settings": [
       {
          "type": "header",
          "content": "Layout"
        },
        {
          "id": "row",
          "type": "number",
          "label": "Row",
          "default": 1
        },
        {
          "type": "select",
          "id": "flex_grow",
          "options": [
            {
              "value": "0",
              "label": "No"
            },
            {
              "value": "1",
              "label": "Yes"
            }           
          ],
          "default": "0",
          "label": "Flex grow",
        }, 
       {
          "type": "select",
          "id": "flex_shrink",
          "options": [
            {
              "value": "0",
              "label": "No"
            },
            {
              "value": "1",
              "label": "Yes"
            }           
          ],
          "default": "0",
          "label": "Flex shrink",
        },
        {
          "id": "flex_basis",
          "type": "text",
          "label": "Width",
          "default": "300",
          "info":"Acceptable values are auto, 300px, 30%"
        },
        {
          "id": "show_on_desktop",
          "type": "checkbox",
          "label": "Show on desktop",
          "default": true
        },
        {
          "id": "show_on_mobile",
          "type": "checkbox",
          "label": "Show on mobile",
          "default": true
        },
        {
          "type": "header",
          "content": "Customization"
        },
        {
          "id": "connect_heading",
          "type": "text",
          "label": "Heading",
          "default": "Connect with us"
        },
        {
          "id": "connect_text",
          "type": "richtext",
          "label": "Text",
          "default": "<p>Connect with us on social media to stay up to date on the latest news and events.</p>"
        },
        {
          "id": "connect_button_link",
          "type": "url",
          "label": "Button Link"
        },
        {
          "id": "connect_button_onclick",
          "type": "text",
          "label": "Button JS Function"
        },
        {
          "id": "connect_button_text",
          "type": "text",
          "label": "Button Text"
        }
      ]
    },
     {
      "type": "social",
      "name": "Social",
      "settings": [
    {
          "type": "header",
          "content": "Layout"
        },
        {
          "id": "row",
          "type": "number",
          "label": "Row",
          "default": 1
        },
        {
          "type": "select",
          "id": "flex_grow",
          "options": [
            {
              "value": "0",
              "label": "No"
            },
            {
              "value": "1",
              "label": "Yes"
            }           
          ],
          "default": "0",
          "label": "Flex grow",
        }, 
       {
          "type": "select",
          "id": "flex_shrink",
          "options": [
            {
              "value": "0",
              "label": "No"
            },
            {
              "value": "1",
              "label": "Yes"
            }           
          ],
          "default": "0",
          "label": "Flex shrink",
        },
        {
          "id": "flex_basis",
          "type": "text",
          "label": "Width",
          "default": "300",
          "info":"Acceptable values are auto, 300px, 30%"
        },
        {
          "id": "show_on_desktop",
          "type": "checkbox",
          "label": "Show on desktop",
          "default": true
        },
        {
          "id": "show_on_mobile",
          "type": "checkbox",
          "label": "Show on mobile",
          "default": true
        },
        {
          "type": "header",
          "content": "Customization"
        },
          {
            "type": "header",
            "content": "Social"
          },
          {
            "id": "social_heading",
            "type": "text",
            "label": "Heading",
            "default": "Follow us on social media"
          },
          {
            "id": "social_text",
            "type": "richtext",
            "label": "Text",
            "default": "<p>Follow us on social media to stay up to date on the latest news and events.</p>"
          }
      ]
    },
 {
      "type": "heading",
      "name": "Heading",
      "settings": [
    {
          "type": "header",
          "content": "Layout"
        },
        {
          "id": "row",
          "type": "number",
          "label": "Row",
          "default": 1
        },
        {
          "type": "select",
          "id": "flex_grow",
          "options": [
            {
              "value": "0",
              "label": "No"
            },
            {
              "value": "1",
              "label": "Yes"
            }           
          ],
          "default": "0",
          "label": "Flex grow",
        }, 
       {
          "type": "select",
          "id": "flex_shrink",
          "options": [
            {
              "value": "0",
              "label": "No"
            },
            {
              "value": "1",
              "label": "Yes"
            }           
          ],
          "default": "0",
          "label": "Flex shrink",
        },
        {
          "id": "flex_basis",
          "type": "text",
          "label": "Width",
          "default": "300",
          "info":"Acceptable values are auto, 300px, 30%"
        },
        {
          "id": "show_on_desktop",
          "type": "checkbox",
          "label": "Show on desktop",
          "default": true
        },
        {
          "id": "show_on_mobile",
          "type": "checkbox",
          "label": "Show on mobile",
          "default": true
        },
        {
          "type": "header",
          "content": "Customization"
        },
          {
            "id": "heading",
            "type": "text",
            "label": "Heading",
            "default": "Connect with Us"
          },
          {
            "id": "subheading",
            "type": "richtext",
            "label": "Text",
            "default": "<p>Follow us on social media to stay up to date on the latest news and events.</p>"
          },
        {
          "type": "select",
          "id": "seo_heading",
          "options": [
            {
              "value": "h1",
              "label": "Heading 1"
            },
            {
              "value": "h2",
              "label": "Heading 2"
            },
            {
              "value": "h3",
              "label": "Heading 3"
            },
            {
              "value": "h4",
              "label": "Heading 4"
            },
            {
              "value": "h5",
              "label": "Heading 5"
            },            
          ],
          "default": "h3",
          "label": "SEO Heading"
        },
        {
          "type": "select",
          "id": "heading_class",
          "options": [
            {
              "value": "h1",
              "label": "Heading 1"
            },
            {
              "value": "h2",
              "label": "Heading 2"
            },
            {
              "value": "h3",
              "label": "Heading 3"
            },
            {
              "value": "h4",
              "label": "Heading 4"
            },
            {
              "value": "h5",
              "label": "Heading 5"
            },            
          ],
          "default": "h3",
          "label": "Heading Class",
          "info":"This determines how large it appears"
        }        
      ]
    }    
 ],
  "presets": [
    {
      "name": "GUA Flex Section",
      "category":"Guardair",
      "blocks": [
        {
          "type": "heading"
        },        
        {
          "type": "paragraph"
        }
      ]
    }
  ]
}
{% endschema %}