<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

<div class="swiper logos_column_container">
  <div class="swiper-wrapper">
    {% for block in section.blocks %}
      <div class="swiper-slide  {% if block.settings.main %}main_logo_mobile{% endif %}">
        <div class="single_logo_column">
            {% if block.settings.logo != blank %}
                <div class="single_logo_logo">
                  <img {% if block.settings.main %} class="main_logo_image" {% endif %} src="{{ block.settings.logo | img_url: 'master' }}" alt="logo">
                </div>
            {% endif %}

            {% if block.settings.text != blank and block.settings.main == true %}
              <div><h2>{{ block.settings.text | strip_html }} <br> {{ block.settings.text-line-2 | strip_html }} </h2></div>
            {% endif %}

            {% if block.settings.text != blank and block.settings.main == false %}
              <div>{{ block.settings.text }}</div>
            {% endif %}
          
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<style>
  #shopify-section-{{ section.id }} {
    background: {{ section.settings.background_color }};
  }
  #shopify-section-{{ section.id }} .single_logo_column > * , .single_logo_column h2 {
    color: {{ section.settings.text_color }} !important;
  }
  #shopify-section-{{ section.id }} .logos_column_container {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    max-width: {{ section.settings.max_width | append: 'px' }};
    padding: 3px 20px;
    margin: 0 auto;
  }
  .single_logo_column {
    display: flex;
    gap: 3px;
    align-items: center;
    height: 100%;
  }
  .single_logo_column img {
    width: 100%;
    height: auto;
    max-width: 50px;
    /*vertical-align: bottom;*/
  }
  .single_logo_column h2 {
    margin-left: -30px;
  }
  .single_logo_column p {
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    font-family: Eurostile-Bol, serif;
  }
  .single_logo_column img.main_logo_image {
    max-width: 100%;
  }
  .single_logo_logo {
    display: flex;
    align-items: center;
  }
  .logos_column_container .swiper-slide {
    height: auto;
    width: unset;
  }
  .logos_column_container .swiper-wrapper {
    justify-content: space-between;
  }
  
  @media only screen and (max-width: 1280px) {
    .logos_column_container .swiper-slide {
      width: 100%;
    }
    .single_logo_column {
      justify-content: center;
    }
    .single_logo_column img {
      max-width: 35px;
    }
    .single_logo_column p {
      font-size: 18px;
    }
    .main_logo_mobile {
      display: none;
    }
    #shopify-section-{{ section.id }} .logos_column_container {
      padding: 10px 0;
    }
  }
</style>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js">
</script>

<script>
    (function (){
        if(window.innerWidth < 1280){
            new Swiper(".logos_column_container", {
                autoplay: {
                    delay: 4000,
                },
                slidesPerView: 1,
                breakpoints: {
                    1280: {
                        slidesPerView: 4
                    }
                }
            });
        }
    })()
</script>

{% schema %}
  {
    "name": "Why Choose",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#121212"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text Color",
          "default": "#ffffff"
        },
        {
          "type": "range",
          "id": "max_width",
          "min": 1000,
          "max": 1600,
          "step": 20,
          "unit": "px",
          "label": "Max width",
          "default": 1160
        }
    ],
    "blocks": [
      {
        "name": "Logo",
        "type": "logo",
        "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text Line 1"
      },
      {
        "type": "richtext",
        "id": "text-line-2",
        "label": "Text Line 2",
        "info": "Use for break in Main block only."
      },
      {
        "type": "checkbox",
        "id": "main",
        "label": "Main block",
        "default": false
      }
    ]
      }
    ],
    "presets": [
      {
        "name": "Why Choose"
      }
    ]
  }
{% endschema %}