{% assign warning65_text = product.metafields.custom.warning65_text.value %}
{% assign warning65_url = product.metafields.custom.warning65_url.value %}
{% assign operation_manual_url = product.metafields.custom.literature_operation_manual_url.value %}
{% assign sell_sheet_url = product.metafields.custom.literature_sell_sheet_url.value %}


{% if 1 == 2 %}
          {% assign show_part_number = false %}
          {% assign show_spec_tab = false %}
          {% assign show_air_inlet_FNPT = false %}
          {% assign show_air_hose_id = false %}
          {% assign show_vacuum_flow = false %}
          {% assign show_Vacuum_Hose_ID = false %}
          {% assign show_steel_drum_guage = false %}
          {% assign show_syphon_flow_rate = false %}
          {% assign show_Inlet-Connection = false %}
          {% assign show_output_thrust = false %}
          {% assign show_grams = false %}
          {% assign show_min_compressor = false %}
          {% assign show_soil_excavation_rate = false %}
          {% assign show_noise_level = false %}
          {% assign show_flow = false %}
          {% assign show_fittings = false %}
          {% assign show_Vacuum_Lift = false %}
          {% assign show_Dimensions = false %}
          {% assign show_weight = false %}

          {% for variant in product.variants %}
            {% if variant.sku != blank %}
              {% assign show_part_number = true %}
            {% endif %}

            {% if variant.metafields.global['Each-Height'].value != blank
              and variant.metafields.global['Each-Length'].value != blank
              and variant.metafields.global['Each-Width'].value != blank
            %}
              {% assign show_Dimensions = true %}
            {% endif %}

            {% if variant.metafields.global['Syphon-Flow-Rate'].value != blank %}
              {% assign show_syphon_flow_rate = true %}
            {% endif %}

            {% if variant.metafields.global['Steel-Drum-Gauge'].value != blank %}
              {% assign show_steel_drum_guage = true %}
            {% endif %}

            {% if variant.metafields.global['Output-Thrust'].value != blank %}
              {% assign show_output_thrust = true %}
            {% endif %}

            {% if variant.metafields.global['Noise-Level'].value != blank %}
              {% assign show_noise_level = true %}
            {% endif %}

            {% if variant.metafields.global['Min-Compressor-Required'].value != blank %}
              {% assign show_min_compressor = true %}
            {% endif %}

            {% if variant.metafields.global['Inlet-Connection'].value != blank %}
              {% assign show_Inlet-Connection = true %}
            {% endif %}

            {% if variant.metafields.global.grams.value != blank %}
              {% assign show_grams = true %}
            {% endif %}

            {% if variant.metafields.global.Flow.value != blank %}
              {% assign show_flow = true %}
            {% endif %}

            {% if variant.metafields.global.Fittings.value != blank %}
              {% assign show_fittings = true %}
            {% endif %}

            {% if variant.metafields.global['Each-Weight'].value != blank %}
              {% assign show_weight = true %}
            {% endif %}

            {% if variant.metafields.global['Air-Hose-ID'].value != blank %}
              {% assign show_air_hose_id = true %}
            {% endif %}

            {% if variant.metafields.global['Vacuum-Lift'].value != blank %}
              {% assign show_Vacuum_Lift = true %}
            {% endif %}

            {% if variant.metafields.global['Vacuum-Hose-ID'].value != blank %}
              {% assign show_Vacuum_Hose_ID = true %}
            {% endif %}

            {% if variant.metafields.global['Vacuum-Flow'].value != blank %}
              {% assign show_vacuum_flow = true %}
            {% endif %}

            {% if variant.metafields.custom.air_inlet_fnpt.value != blank %}
              {% assign show_air_inlet_FNPT = true %}
            {% endif %}

            {% if variant.metafields.custom.soil_excavation_rate.value != blank %}
              {% assign show_soil_excavation_rate = true %}
            {% endif %}
          {% endfor %}

          {% if show_part_number == true
            or show_air_inlet_FNPT == true
            or show_min_compressor == true
            or show_noise_level == true
            or show_flow == true
            or show_vacuum_flow == true
            or show_Vacuum_Lift == true
            or show_syphon_flow_rate == true
            or show_steel_drum_guage == true
            or show_output_thrust == true
            or show_Inlet-Connection == true
            or show_grams == true
            or show_fittings == true
            or show_air_hose_id == true
            or show_Vacuum_Hose_ID == true
            or show_soil_excavation_rate == true
            or show_Dimensions == true
            or show_weight == true
          %}
            {% assign show_spec_tab = false %}
          {% endif %}
{% endif %}

<div class="itg_full_product_info">
<div class="tabs"><div class="nav-wrapper">
  <ul id="tabs-nav">
    {% if 1 == 2 %}
          {%- for variant in product.variants limit: 1 -%}
            {% if variant.metafields.custom.advantages.value != blank %}
              <li><a href="#tab0">Advantages</a></li>
            {% endif %}
          {% endfor %}
          {%- for variant in product.variants limit: 1 -%}
            {% if variant.metafields.custom.featured.value != blank %}
              <li><a href="#tab1">Features</a></li>
            {% endif %}
          {% endfor %}
          {%- for variant in product.variants limit: 1 -%}
            {% if variant.metafields.custom.includes.value != blank %}
              <li><a href="#tab2">Includes</a></li>
            {% endif %}
          {% endfor %}
          {% if operation_manual_url != blank or sell_sheet_url != blank %}
              <li><a href="#tab4">Literature</a></li>
          {% endif %}
    {% endif %}
{% if 1 == 3 %}
    {% if section.settings.show_description == true %}
      <li><a href="#tab3">Product Details</a></li>
    {% endif %}

    {% if section.settings.show_specs == true %}
      <li><a href="#tab3">Specifications</a></li>
    {% endif %}
    {% if section.settings.show_accessories %}    
        {%- for variant in product.variants limit: 1 -%}
          {% if variant.metafields.custom.accessories.value != blank %}
            <li><a href="#tab5">Accessories</a></li>
          {% endif %}
        {% endfor %}
    {% endif %}
    {% if section.settings.show_parts %}
        {%- for variant in product.variants limit: 1 -%}
          {% if variant.metafields.custom.replacement_parts.value != blank %}
            <li><a href="#tab6">Replacement Parts</a></li>
          {% endif %}
        {% endfor %}
      {% endif %}
{% endif %}

      {%- for block in section.blocks -%}
        {%- case block.type -%}
              {%- when '@app' -%}
                <li><a href="#tab{{ forloop.index }}">App{{  block.title }}</a></li>
              {%- when 'product_description' -%}
                <li><a href="#tab{{ forloop.index }}">Product Details</a></li>                     
              {%- when 'custom_liquid' -%}
                <li><a href="#tab{{ forloop.index }}">Custom {{ block.title }}</a></li>
              {%- when 'rating' -%}
                <li><a href="#tab-{{ forloop.index }}">Reviews</a></li>       
              {%- when 'specifications' -%}
                <li><a href="#tab{{ forloop.index }}">Specifications</a></li>         
              {%- when 'parts' -%}
                <li><a href="#tab{{ forloop.index }}">Replacement Parts</a></li>       
              {%- when 'accessories' -%}
                <li><a href="#tab{{ forloop.index }}">Accessories</a></li>                                           
              {% endcase %}
      {% endfor %}

  </ul></div>

  <div id="tabs-content">


    {% if show_spec_tab == true and 1 == 2 %}
      <div id="tab3" class="tab-content">
        <div class="table-container">
          <table class="dynamic-table">
            <thead>
              <tr>
                {% if show_part_number == true %}
                  <th width="10%">Part Number</th>
                {% endif %}
                {% if show_fittings == true %}
                  <th width="6%">Fittings</th>
                {% endif %}
                {% if show_air_hose_id == true %}
                  <th width="7%">
                    Air <br>
                    Hose ID<br>
                    (in)
                  </th>
                {% endif %}
                {% if show_Vacuum_Hose_ID == true %}
                  <th width="8%">
                    Vacuum <br>
                    Hose ID<br>
                    (in)
                  </th>
                {% endif %}
                {% if show_Inlet-Connection == true %}
                  <th width="7%">
                    Compressed <br>
                    Air Inlet<br>
                    (in)
                  </th>
                {% endif %}
                {% if show_flow == true %}
                  <th width="10%">
                    Compressed <br>
                    Air Usage<br>
                    (cfm)
                  </th>
                {% endif %}
                {% if show_min_compressor == true %}
                  <th width="10%">
                    Min. Size <br>
                    Air Compressor<br>
                    (hp)
                  </th>
                {% endif %}
                {% if show_vacuum_flow == true %}
                  <th width="8%">
                    Vacuum Flow<br>
                    (cfm)
                  </th>
                {% endif %}
                {% if show_Vacuum_Lift == true %}
                  <th width="8%">
                    Vacuum <br>
                    Lift<br>
                    (in H20)
                  </th>
                {% endif %}
                {% if show_syphon_flow_rate == true %}
                  <th width="9%">
                    Syphon <br>
                    Flow Rate<br>
                    (gph)
                  </th>
                {% endif %}
                {% if show_output_thrust == true %}
                  <th width="8%">
                    Output <br>
                    Thrust<br>
                    (lbs)
                  </th>
                {% endif %}
                {% if show_noise_level == true %}
                  <th width="8%">
                    Noise <br>
                    Level<br>
                    (dBA)
                  </th>
                {% endif %}
                {% if show_steel_drum_guage == true %}
                  <th width="8%">
                    Min.<br>
                    Steel Drum<br>
                    (Gauge)
                  </th>
                {% endif %}
                {% if show_Dimensions == true %}
                  <th width="10%">
                    Dimensions<br>
                    (L" x W" x H")
                  </th>
                {% endif %}
                {% if show_weight == true %}
                  <th width="6%">
                    Weight<br>
                    (lbs)
                  </th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for variant in product.variants %}
                <tr>
                  {% if show_part_number == true %}
                    <td>
                      <span class="td-title">Part Number</span>
                      <span class="td-value td-noBr">{{ variant.sku }}</span>
                    </td>
                  {% endif %}
                  {% if show_fittings == true %}
                    <td>
                      <span class="td-title">Fittings</span>
                      <span class="td-value td-noBr">{{ variant.metafields.global.Fittings.value }}</span>
                    </td>
                  {% endif %}
                  {% if show_air_hose_id == true %}
                    <td>
                      <span class="td-title">Air Hose ID</span>
                      <span class="td-value">{{ variant.metafields.global['Air-Hose-ID'].value }}</span>
                    </td>
                  {% endif %}
                  {% if show_Vacuum_Hose_ID == true %}
                    <td>
                      <span class="td-title">Vacuum Hose ID</span>
                      <span class="td-value">{{ variant.metafields.global['Vacuum-Hose-ID'].value }}</span>
                    </td>
                  {% endif %}
                  {% if show_Inlet-Connection == true %}
                    <td>
                      <span class="td-title">Inlet Connection</span>
                      <span class="td-value">{{ variant.metafields.global['Inlet-Connection'].value }}</span>
                    </td>
                  {% endif %}
                  {% if show_flow == true %}
                    <td>
                      <span class="td-title">Flow (cfm)</span>
                      <span class="td-value">{{ variant.metafields.global.Flow.value }}</span>
                    </td>
                  {% endif %}
                  {% if show_min_compressor == true %}
                    <td>
                      <span class="td-title">Min. Compressor Required (hp)</span>
                      <span class="td-value">{{ variant.metafields.global['Min-Compressor-Required'].value }}</span>
                    </td>
                  {% endif %}
                  {% if show_vacuum_flow == true %}
                    <td>
                      <span class="td-title">Vacuum Flow (cfm)</span>
                      <span class="td-value">{{ variant.metafields.global['Vacuum-Flow'].value }}</span>
                    </td>
                  {% endif %}
                  {% if show_Vacuum_Lift == true %}
                    <td>
                      <span class="td-title">Vacuum Lift (in H20)</span>
                      <span class="td-value">{{ variant.metafields.global['Vacuum-Lift'].value }}</span>
                    </td>
                  {% endif %}
                  {% if show_syphon_flow_rate == true %}
                    <td>
                      <span class="td-title">Syphon Flow Rate (gph)</span>
                      <span class="td-value">{{ variant.metafields.global['Syphon-Flow-Rate'].value }}</span>
                    </td>
                  {% endif %}
                  {% if show_output_thrust == true %}
                    <td>
                      <span class="td-title">Output Thrust (lbs)</span>
                      <span class="td-value">{{ variant.metafields.global['Output-Thrust'].value }}</span>
                    </td>
                  {% endif %}
                  {% if show_noise_level == true %}
                    <td>
                      <span class="td-title">Noise Level (dB)</span>
                      <span class="td-value">{{ variant.metafields.global['Noise-Level'].value }}</span>
                    </td>
                  {% endif %}
                  {% if show_steel_drum_guage == true %}
                    <td>
                      <span class="td-title">Steel Drum Gauge</span>
                      <span class="td-value">{{ variant.metafields.global['Steel-Drum-Gauge'].value }}</span>
                    </td>
                  {% endif %}
                  {% if show_Dimensions == true %}
                    <td>
                      <span class="td-title"
                        >Dimensions <br>
                        (L" x W" x H")</span
                      >
                      <span class="td-value">
                        {{-
                          variant.metafields.global['Each-Length'].value
                          | append: ' X '
                          | append: variant.metafields.global['Each-Width'].value
                          | append: ' X '
                          | append: variant.metafields.global['Each-Height'].value
                        -}}
                      </span>
                    </td>
                  {% endif %}
                  {% if show_weight == true %}
                    <td>
                      <span class="td-title">Weight (lbs)</span>
                      <span class="td-value">{{ variant.metafields.global['Each-Weight'].value }}</span>
                    </td>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% endif %}

      {%- for block in section.blocks -%}
        {%- case block.type -%}
              {%- when '@app' -%}
                {% render block %}
              {%- when 'custom_liquid' -%}
                {{ block.settings.custom_liquid }}
              {%- when 'rating' -%}
                  <div id="tab{{ forloop.index }}" class="tab-content">  
                    {%- if product.metafields.reviews.rating.value != blank -%}
                          <div class="rating-wrapper">
                            {% liquid
                              assign rating_decimal = 0
                              assign decimal = product.metafields.reviews.rating.value.rating | modulo: 1
                              if decimal >= 0.3 and decimal <= 0.7
                                assign rating_decimal = 0.5
                              elsif decimal > 0.7
                                assign rating_decimal = 1
                              endif
                            %}
                              <div
                                class="rating"
                                role="img"
                                aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: product.metafields.reviews.rating.value, rating_max: product.metafields.reviews.rating.value.scale_max }}"
                              >
                                <span
                                  aria-hidden="true"
                                  class="rating-star"
                                  style="--rating: {{ product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"
                                ></span>
                              </div>
                              <p class="rating-text caption">
                                <span aria-hidden="true">
                                  {{- product.metafields.reviews.rating.value }} /
                                  {{ product.metafields.reviews.rating.value.scale_max -}}
                                </span>
                              </p>
                              <p class="rating-count caption">
                                <span aria-hidden="true">({{ product.metafields.reviews.rating_count }})</span>
                                <span class="visually-hidden">
                                  {{- product.metafields.reviews.rating_count }}
                                  {{ 'accessibility.total_reviews' | t -}}
                                </span>
                              </p>
                          </div>
                     {%- endif -%}
                    </div>

            {%- when 'specifications' -%}
              <div id="tab{{ forloop.index }}" class="tab-content">              
                {% render 'gua-specifications',highlight:block.settings.highlight_variant,product:section.settings.product,block:block %}
              </div>

            {%- when 'product_description' -%}
              <div id="tab{{ forloop.index }}" class="tab-content">    
                <div id="details-left">
                  <h2 class="h1">Product Details</h2>
                      <div class="rich-text__caption {{ block.settings.font_style }}" {{ block.shopify_attributes }}>

                          {%- if product.description != blank  -%}                 
                            <div class="rte {{ section.settings.font_style }}">{{ product.description }}</div>
                          {% endif %}                                         
                      </div> 
                </div>
                <div id="details-right">
                    {% if warning65_text != blank and warning65_url != blank and block.settings.show_propwarning %}
                          <div id="tab8" class="tab-content">
                            <p>
                              <img
                                src="https://cdn.shopify.com/s/files/1/2656/7538/t/2/assets/cautionlogo-1536324387328.png?7929381987511505442"
                                alt=""
                                width="32"
                                height="29"

                              >&nbsp;WARNING >: {{ warning65_text }} -&nbsp;<a href="{{ warning65_url }}" target="_blank" rel="noopener">
                                {{- warning65_url | remove: 'http://' | remove: 'https://' -}}
                              </a>
                            </p>
                          </div>
                    {% endif %}         
                    
                    {% if product.metafields.custom.delivery_time.value != blank and block.settings.show_leadtime %}
                          <h3>Lead Time</h3>                      
                          {{ product.metafields.custom.delivery_time.value }}
                    {%  endif %}

                      {%- for variant in product.variants -%}
                        {% if variant.metafields.custom.featured.value != blank %}
                          <h3>Features</h3>
                            <ul>
                              {%- assign current_variant = product.selected_or_first_available_variant -%}

                              {% for text in variant.metafields.custom.featured.value %}
                                <li>{{ text }}</li>
                              {% endfor %}
                            </ul>
                        {% endif %}
                      {% endfor %}     
                      
                      {%- for variant in product.variants limit: 1 -%}
                        {% if variant.metafields.custom.includes.value != blank %}
                          <h3>Includes</h3>
                          <ul>
                            {%- assign current_variant = product.selected_or_first_available_variant -%}
                            {%- for variant in product.variants -%}
                              {% if current_variant.title == variant.title %}
                                {% for text in variant.metafields.custom.includes.value %}
                                  <li>{{ text }}</li>
                                {% endfor %}
                              {% endif %}
                            {% endfor %}
                          </ul>
                        {% endif %}
                      {% endfor %}          
                      
                      {%- for variant in product.variants limit: 1 -%}
                        {% if variant.metafields.custom.advantages.value != blank %}
                          <h3>Advantages</h3>
                          <ul>
                              {%- assign current_variant = product.selected_or_first_available_variant -%}
                              {%- for variant in product.variants -%}
                                {% if current_variant.title == variant.title %}
                                  {% for text in variant.metafields.custom.advantages.value %}
                                    <li>{{ text }}</li>
                                  {% endfor %}
                                {% endif %}
                              {% endfor %}
                            </ul>
                          </div>
                        {% endif %}
                    {% endfor %}
                </div>
              </div>

            {%- when 'custom_text' -%}
                  <p class="rich-text__caption" {{ block.shopify_attributes }}>
                      {{ block.settings.custom_text }}
                  </p>    

            {%- endcase -%}
          {% endfor %}
    {% if operation_manual_url != blank or sell_sheet_url != blank %}
      <div id="tab4" class="tab-content">
        <ul>
          {% if operation_manual_url != blank %}
            <li>
              <a href="{{ operation_manual_url }}" target="_blank">Operating Instructions</a>
            </li>
          {% endif %}
          {% if sell_sheet_url != blank %}
            <li><a href="{{ sell_sheet_url }}" target="_blank">Sell Sheet</a></li>
          {% endif %}
        </ul>
      </div>
    {% endif %}
    {%- for variant in product.variants limit: 1 -%}
      {% if variant.metafields.custom.accessories.value != blank %}
        <div id="tab5" class="tab-content">
          <ul>
            {%- for variant in product.variants -%}
              {%- assign current_variant = product.selected_or_first_available_variant -%}
              {% if current_variant.title == variant.title %}
                {% for text in variant.metafields.custom.accessories.value %}
                  <li>
                    <a href="{{ text.url }}" target="_blank">{{ text.title }}</a>
                  </li>
                {% endfor %}
              {% endif %}
            {% endfor %}
          </ul>
          {% comment %}
            <ul>
              {% assign slider = product.metafields.custom.replacement_parts.value %}
              {% for product in slider %}
                <li>
                  <a href="{{ product.url }}" target="_blank">{{ product.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endcomment %}
        </div>
      {% endif %}
    {% endfor %}
    {%- for variant in product.variants limit: 1 -%}
      {% if variant.metafields.custom.replacement_parts.value != blank %}
        <div id="tab6" class="tab-content">
          <ul>
            {%- for variant in product.variants -%}
              {%- assign current_variant = product.selected_or_first_available_variant -%}
              {% if current_variant.title == variant.title %}
                {% for text in variant.metafields.custom.replacement_parts.value %}
                  <li>
                    {% assign clean_title = text.title | split: ' - ' | first %}
                    <a href="{{ text.url }}" target="_blank">{{ clean_title }}</a>
                  </li>
                {% endfor %}
              {% endif %}
            {% endfor %}
          </ul>
        </div>

        {% endif %}
      
    {% if product.metafields.custom.delivery_time.value != blank %}
      <div id="tab7" class="tab-content">Lead Time: {{ product.metafields.custom.delivery_time.value }}</div>
    {% endif %}
        
          
          {% comment %}
            <ul>
              {% assign slider = product.metafields.custom.replacement_parts.value %}
              {% for product in slider %}
                <li>
                  <a href="{{ product.url }}" target="_blank">{{ product.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endcomment %}
        
     
    {% endfor %}
   {%- comment -%} <div id="tab7" class="tab-content">
      <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>{%- endcomment -%}
      {% comment %}<div></div>{% endcomment %}
    </div>
    
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
      const table = document.querySelector(".dynamic-table");
      const headers = table.querySelectorAll("th");
      let visibleColumnCount = 0;

      headers.forEach(header => {
          if (window.getComputedStyle(header).display !== "none") {
              visibleColumnCount++;
          }
      });

      // Set a data attribute to the table for CSS targeting
      table.setAttribute("data-column-count", visibleColumnCount);
  });
</script>

<!-- END tabs-content -->
<!-- END tabs -->


{% schema %}
  {
    "name": "GUA Product Tabs",
    "enabled_on": {
      "templates": ["product"]
    },
   "settings": [
        {
          "type": "product_list",          
          "id": "products",
          "label": "Products",
          "info": "Select products"
        },
        {
          "id": "option_name",
          "label": "Option Name",
          "type": "text",
          "default": "Extension Length"
        }

      ],
      "blocks":[
        {
      "type": "product_description",
      "name": "Product Description",
      "limit": 1,
      "settings": [           
            {
              "type": "select",
              "id": "font_style",
              "options": [
                {
                  "value": "inline-richtext",
                  "label": "Default"
                },
                {
                  "value": "plain-with-buttons",
                  "label": "Plain with Buttons"
                },        
                {
                  "value": "blue-subtitle",
                  "label": "Blue Subtitles"
                }
              ],
              "default": "inline-richtext",
              "label": "Font Style"
            },
            {
              "type": "header",
              "content": "Accordion Content"
            },  
            {
              "type": "checkbox",
              "id": "show_features",
              "label": "Show Features",
              "info": "Variant metafield: featured (custom.featured)"
            },
            {
              "type": "checkbox",
              "id": "show_includes",
              "label": "Show Includes",
              "info": "Variant metafield: includes (custom.includes)"
            },            
            {
              "type": "checkbox",
              "id": "show_propwarning",
              "label": "Show Proposition 65 Warning",
              "info": "Product metafield: Warning65 Text (custom.warning65_text)"
            },
            {
              "type": "checkbox",
              "id": "show_leadtime",
              "label": "Show Lead Time",
              "info": "Product metafield: Delivery Time (custom.delivery_time)"
            }             
      ]
    },         
          {
            "type": "specifications",
            "name": "Specifications",
            "limit": 1,
            "settings": [
              {
                "type": "checkbox",
                "id": "highlight_variant",
                "default": false,
                "label": "Highlight current variant"
              },
              {
                "type": "header",
                "content": "Fields"
              },
              {
                "type": "paragraph",
                "content": "By default, the specific fields are determined by the product type.  The below fields can be added."
              },        
              {
                "type": "checkbox",
                "id": "variant_title",
                "default": false,
                "label": "Variant Title"
              },
              {
                "type": "checkbox",
                "id": "variant_image",
                "default": false,
                "label": "Variant Image"
              },
              {
                "type": "range",
                "id": "variant_image_size",
                "default": 90,
                "label": "Variant Image Size",
                "min":45,
                "max":300,
                "step":15
              },        
              {
                "type": "checkbox",
                "id": "type_fields",
                "default": true,
                "label": "Show Product Type Specific Fields",
                "info":"Example Inlet, Max Pressure, etx"
              },
              {
                "type": "header",
                "content": "Section Specific Fields"
              },        
              {
                "type": "text",
                "id": "special_field",
                "label": "Rename Title Info",
                "info":"Add Label for information trailing the dash in title"
              },
              {
                "type": "text",
                "id": "variant_metafield_label",
                "label": "Variant Field Label",
                "info":"Add Label"
              },        
            {
                "type": "text",
                "id": "variant_metafield_namespace",
                "label": "Variant Metafield Namespace",
                "info": "Enter the namespace for the variant metafield (e.g., 'custom' or 'app')"
              },
              {
                "type": "text",
                "id": "variant_metafield_key",
                "label": "Variant Metafield Key",
                "info": "Enter the key for the variant metafield (e.g., 'material' or 'weight')"
              }        
            ]
          },
    {
      "type": "custom_liquid",
      "name": "t:sections.custom-liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.custom-liquid.settings.custom_liquid.label",
          "info": "t:sections.custom-liquid.settings.custom_liquid.info"
        }
      ]
    },
    {
      "type": "parts",
      "name": "Replacement Parts",
      "settings": [
      ]
    },    
    {
      "type": "rating",
      "name": "t:sections.featured-product.blocks.rating.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.featured-product.blocks.rating.settings.paragraph.content"
        }
      ]
    },
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "t:sections.featured-product.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "Text block",
          "label": "t:sections.featured-product.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.featured-product.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.featured-product.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "uppercase",
              "label": "t:sections.featured-product.blocks.text.settings.text_style.options__3.label"
            },
            {
              "value": "heading",
              "label": "Heading"
            }            
          ],
          "default": "body",
          "label": "t:sections.featured-product.blocks.text.settings.text_style.label"
        }
      ]
    },      
    {
      "type": "custom_text",
      "name": "Custom Text",
      "settings": [
        {
          "type": "richtext",
          "id": "custom_text",
          "label": "Custom Text",
        }
      ]
    },    
  ],     
  "presets": [
    {
      "name": "GUA Product Tabs",
      "category":"Guardair Catalog",
      "blocks": [
        {
          "type": "product_description"
        }
      ]
    }
  ]
}
{% endschema %}