<div class="flex-section color-{{ section.settings.color_scheme }} gradient">
  <div class="page-width">
      {% for block in section.blocks %}
        <div
          class="
            flex__content-block
            {% if block.settings.show_on_mobile == false %}
              hide-on-mobile
            {% endif %}
            {% if block.settings.show_on_desktop == false %}
              hide-on-desktop
            {% endif %}
            flex__content-block-{{ block.type }}
          "
          style="
            --desktop-row: {{ block.settings.row }};
            --desktop-column: {{ block.settings.column }};
            --desktop-row-span: {{ block.settings.row_span }};
            --desktop-column-span: {{ block.settings.column_span }};

            --mobile-row: {{ block.settings.row_mobile }};
            --mobile-column: {{ block.settings.column_mobile }};
            --mobile-row-span: {{ block.settings.row_span_mobile }};
            --mobile-column-span: {{ block.settings.column_span_mobile }};
          "
          {{ block.shopify_attributes }}
        >
          {% case block.type %}
            {% when 'subscribe' %}        
                    {% render 'gua-b-subscribe',block:block %}
            {% when 'social' %}                  
                    {% render 'gua-b-social',block:block %}
            
            {% when 'paragraph' %}
              <div class="footer__content-block__content">
                {% if block.settings.image != blank %}
                  {% liquid
                    assign image = block.settings.image
                    assign image_aspect_ratio = image.aspect_ratio
                    assign image_height = block.settings.image_height
                    assign image_width = image_height | times: image_aspect_ratio
                    assign image_width_full = image_width | times: 2
                  %}

                  {% capture widths %}{{ image_width }}, {{ image_width | times: 1.5 | round }}, {{ image_width | times: 2 }}{% endcapture %}
                  {% capture sizes %}(max-width: {{ image_width }}px) 100vw, {{ image_width }}px{% endcapture %}

                  {{
                    image
                    | image_url: width: image_width_full
                    | image_tag:
                      class: 'footer__content-image motion-reduce',
                      widths: widths,
                      height: image_height,
                      width: image_width,
                      alt: image.alt,
                      sizes: sizes,
                      preload: false
                  }}
                {% endif %}

                <h3 class="footer__content-block__heading">{{ block.settings.heading }}</h3>
                <div class="footer__content-block__text">{{ block.settings.content }}</div>
                {% if block.settings.button_text != blank %}
                  <a href="{{ block.settings.button_link }}" class="footer__content-block__button button button--round">
                    {{- block.settings.button_text -}}
                  </a>
                {% endif %}
              </div>
            {% when 'contact' %}
              <div class="footer__content-block__content hide-on-mobile">
                {% capture header_content %}
                  <h3 class="footer__content-block__heading">{{ block.settings.heading }}</h3>
                {% endcapture %}
                {% capture content %}
                <div class="footer__content-block__text">{{ block.settings.content }}</div>
                <div class="footer__content-block__contact">
                  {% if block.settings.contact_us_link != blank %}
                    <div class="footer__content-block__contact-item footer__content-block__contact__contact-us">
                      <a href="{{ block.settings.contact_us_link }}">{{ block.settings.contact_us_text }}</a>
                    </div>
                  {% endif %}
                  {% if block.settings.phone_number != blank %}
                    <div class="footer__content-block__contact-item footer__content-block__contact__phone">
                      {{ block.settings.phone_icon }}
                      <a href="tel:{{ block.settings.phone_number }}">{{ block.settings.phone_number }}</a>
                      {% if block.settings.phone_hours != blank %}
                        <span>{{ block.settings.phone_hours }}</span>
                      {% endif %}
                    </div>
                  {% endif %}
                  {% if block.settings.email_address != blank %}
                    <div class="footer__content-block__contact-item footer__content-block__contact__email">
                      {{ block.settings.email_icon }}
                      <a href="mailto:{{ block.settings.email_address }}">{{ block.settings.email_address }}</a>
                    </div>
                  {% endif %}
                  {% if block.settings.live_chat_text != blank %}
                    <div class="footer__content-block__contact-item footer__content-block__contact__live-chat">
                      {{ block.settings.live_chat_icon }}
                      <a href="javascript:void(0);" onclick="{{ block.settings.live_chat_onclick }}">
                        {{- block.settings.live_chat_text -}}
                      </a>
                    </div>
                  {% endif %}
                </div>
                {% endcapture %}
                {{ header_content }}
                {{ content }}
              </div>
              <hc-accordion class="footer__content-block__content hide-on-desktop">
                <div slot="header">
                  {{ header_content }}
                </div>
                <div slot="content">
                  {{ content }}
                </div>
              </hc-accordion>
            {% when 'linklist' %}
              <div class="footer__content-block__content hide-on-mobile">
                {% capture header_content %}
                <h3 class="footer__content-block__heading">{{ block.settings.heading }}</h3>
                {% endcapture %}
                {% capture content %}
                <div class="footer__content-block__links">
                  {% for link in block.settings.links.links %}
                    <a href="{{ link.url }}" class="footer__content-block__link">{{ link.title }}</a>
                  {% endfor %}
                </div>
                {% endcapture %}
                {{ header_content }}
                {{ content }}
              </div>
              <hc-accordion class="footer__content-block__content hide-on-desktop">
                <div slot="header">
                  {{ header_content }}
                </div>
                <div slot="content">
                  {{ content }}
                </div>
              </hc-accordion>
            {% when 'divisions' %}
              <div class="footer__content-block__content hide-on-mobile">
                {% capture header_content %}
                <h3 class="footer__content-block__heading">{{ block.settings.heading }}</h3>
                {% endcapture %}
                {% capture content %}
                <div class="footer__content-block__divisions">
                  {% assign divisions_num = 2 %}
                  {% for i in (1..divisions_num) %}
                    {% liquid
                      assign division_link_named_index = 'division_link_' | append: i
                      assign division_image_named_index = 'division_image_' | append: i
                      assign division_link = block.settings[division_link_named_index]
                      assign division_image = block.settings[division_image_named_index]
                    %}

                    {% if division_link != blank and division_image != blank %}
                      <a href="{{ division_link }}">
                        {% liquid
                          assign image = division_image
                          assign image_aspect_ratio = image.aspect_ratio
                          assign image_height = block.settings.image_height
                          assign image_width = image_height | times: image_aspect_ratio
                          assign image_width_full = image_width | times: 2
                        %}
                        {{
                          image
                          | image_url: width: image_width_full
                          | image_tag:
                            class: 'footer__content-image motion-reduce',
                            width: image_width,
                            height: image_height,
                            alt: image.alt,
                            preload: false
                        }}
                      </a>
                    {% endif %}
                  {% endfor %}
                </div>
                {% endcapture %}
                {{ header_content }}
                {{ content }}
              </div>
              <hc-accordion class="footer__content-block__content hide-on-desktop">
                <div slot="header">
                  {{ header_content }}
                </div>
                <div slot="content">
                  {{ content }}
                </div>
              </hc-accordion>
            {% when 'payment_icons' %}
              <div class="footer__payment">
                <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
                <ul class="list list-payment" role="list">
                  {%- for type in shop.enabled_payment_types -%}
                    <li class="list-payment__item">
                      {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            {% else %}
              {% comment %}
                This block type is not supported.
              {% endcomment %}
          {% endcase %}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="footer__bottom color-{{ section.settings.color_scheme }} gradient">
    <div class="footer__bottom__content page-width">
      <div class="footer__bottom__content-text">
        <div class="footer__bottom__content-text-desktop hide-on-mobile">
          {% assign year = 'now' | date: '%Y' %}
          {% assign year_text = '{Year}' %}
          {{ section.settings.footer_text | replace: year_text, year }}
        </div>
        <div class="footer__bottom__content-text-mobile hide-on-desktop">
          {{ section.settings.footer_text_mobile | replace: year_text, year }}
        </div>
      </div>

      <div class="footer__bottom__content-links">
        {% for link in section.settings.footer_links.links %}
          <a href="{{ link.url }}" class="footer__bottom__content-links__link">{{ link.title }}</a>
          {% unless forloop.last %}
            <span>|</span>
          {% endunless %}
        {% endfor %}
      </div>
    </div>

</div>



{% schema %}
{
  "name": "GUA Flex Sections",
  "settings": [
    {
      "id": "color_scheme",
      "type": "color_scheme",
      "label": "Color Scheme"
    },
    {
      "type": "header",
      "content": "Connect with us"
    },
    {
      "id": "enable_connect_panel",
      "type": "checkbox",
      "label": "Enable Connect Panel",
      "default": true
    },
    {
      "id": "connect_heading",
      "type": "text",
      "label": "Heading",
      "default": "Connect with us"
    },
    {
      "id": "connect_text",
      "type": "richtext",
      "label": "Text",
      "default": "<p>Connect with us on social media to stay up to date on the latest news and events.</p>"
    },
    {
      "id": "connect_button_link",
      "type": "url",
      "label": "Button Link"
    },
    {
      "id": "connect_button_onclick",
      "type": "text",
      "label": "Button JS Function"
    },
    {
      "id": "connect_button_text",
      "type": "text",
      "label": "Button Text"
    },
    {
      "type": "header",
      "content": "Social"
    },
    {
      "id": "social_heading",
      "type": "text",
      "label": "Heading",
      "default": "Follow us on social media"
    },
    {
      "id": "social_text",
      "type": "richtext",
      "label": "Text",
      "default": "<p>Follow us on social media to stay up to date on the latest news and events.</p>"
    }
  ],
  "blocks": [
    {
      "type": "paragraph",
      "name": "Paragraph",
      "settings": [
        {
          "type": "header",
          "content": "Layout"
        },
        {
          "id": "show_on_mobile",
          "type": "checkbox",
          "label": "Show on mobile",
          "default": true
        },
        {
          "id": "show_on_desktop",
          "type": "checkbox",
          "label": "Show on desktop",
          "default": true
        },
        {
          "id": "row",
          "type": "number",
          "label": "Row",
          "default": 1
        },
        {
          "id": "column",
          "type": "number",
          "label": "Column",
          "default": 1
        },
        {
          "id": "row_mobile",
          "type": "number",
          "label": "Row Mobile",
          "default": 1
        },
        {
          "id": "column_mobile",
          "type": "number",
          "label": "Column Mobile",
          "default": 1
        },
        {
          "id": "row_span",
          "type": "number",
          "label": "Row Span",
          "default": 1
        },
        {
          "id": "column_span",
          "type": "number",
          "label": "Column Span",
          "default": 1
        },
        {
          "id": "row_span_mobile",
          "type": "number",
          "label": "Row Span Mobile",
          "default": 1
        },
        {
          "id": "column_span_mobile",
          "type": "number",
          "label": "Column Span Mobile",
          "default": 1
        },
        {
          "type": "header",
          "content": "Customization"
        },
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        },
        {
          "id": "image_height",
          "type": "number",
          "label": "Image Height",
          "default": 54
        },
        {
          "id": "heading",
          "type": "text",
          "label": "Heading",
          "default": "Paragraph Heading"
        },
        {
          "id": "content",
          "type": "richtext",
          "label": "Content",
          "default": "<p>Paragraph Content</p>"
        },
        {
          "id": "button_link",
          "type": "url",
          "label": "Button Link"
        },
        {
          "id": "button_text",
          "type": "text",
          "label": "Button Text"
        }
      ]
    },
    {
      "type": "contact",
      "name": "Contact",
      "settings": [
        {
          "type": "header",
          "content": "Layout"
        },
        {
          "id": "show_on_mobile",
          "type": "checkbox",
          "label": "Show on mobile",
          "default": true
        },
        {
          "id": "show_on_desktop",
          "type": "checkbox",
          "label": "Show on desktop",
          "default": true
        },
        {
          "id": "row",
          "type": "number",
          "label": "Row",
          "default": 1
        },
        {
          "id": "column",
          "type": "number",
          "label": "Column",
          "default": 1
        },
        {
          "id": "row_mobile",
          "type": "number",
          "label": "Row Mobile",
          "default": 1
        },
        {
          "id": "column_mobile",
          "type": "number",
          "label": "Column Mobile",
          "default": 1
        },
        {
          "id": "row_span",
          "type": "number",
          "label": "Row Span",
          "default": 1
        },
        {
          "id": "column_span",
          "type": "number",
          "label": "Column Span",
          "default": 1
        },
        {
          "id": "row_span_mobile",
          "type": "number",
          "label": "Row Span Mobile",
          "default": 1
        },
        {
          "id": "column_span_mobile",
          "type": "number",
          "label": "Column Span Mobile",
          "default": 1
        },
        {
          "type": "header",
          "content": "Customization"
        },
        {
          "id": "heading",
          "type": "text",
          "label": "Heading",
          "default": "Contact Us"
        },
        {
          "id": "content",
          "type": "richtext",
          "label": "Content",
          "default": "<p>Paragraph Content</p>"
        },
        {
          "id": "contact_us_link",
          "type": "url",
          "label": "Contact Us Link"
        },
        {
          "id": "contact_us_text",
          "type": "text",
          "label": "Contact Us Text",
          "default": "Contact Us"
        },
        {
          "id": "phone_icon",
          "type": "html",
          "label": "Phone Icon"
        },
        {
          "id": "phone_number",
          "type": "text",
          "label": "Phone Number"
        },
        {
          "id": "phone_hours",
          "type": "text",
          "label": "Phone Hours"
        },
        {
          "id": "email_icon",
          "type": "html",
          "label": "Email Icon"
        },
        {
          "id": "email_address",
          "type": "text",
          "label": "Email Address"
        },
        {
          "id": "live_chat_icon",
          "type": "html",
          "label": "Live Chat Icon"
        },
        {
          "id": "live_chat_text",
          "type": "text",
          "label": "Live Chat Text"
        },
        {
          "id": "live_chat_onclick",
          "type": "text",
          "label": "Live Chat JS Function"
        }
      ]
    },
    {
      "type": "linklist",
      "name": "Links",
      "settings": [
        {
          "type": "header",
          "content": "Layout"
        },
        {
          "id": "show_on_mobile",
          "type": "checkbox",
          "label": "Show on mobile",
          "default": true
        },
        {
          "id": "show_on_desktop",
          "type": "checkbox",
          "label": "Show on desktop",
          "default": true
        },
        {
          "id": "row",
          "type": "number",
          "label": "Row",
          "default": 1
        },
        {
          "id": "column",
          "type": "number",
          "label": "Column",
          "default": 1
        },
        {
          "id": "row_mobile",
          "type": "number",
          "label": "Row Mobile",
          "default": 1
        },
        {
          "id": "column_mobile",
          "type": "number",
          "label": "Column Mobile",
          "default": 1
        },
        {
          "id": "row_span",
          "type": "number",
          "label": "Row Span",
          "default": 1
        },
        {
          "id": "column_span",
          "type": "number",
          "label": "Column Span",
          "default": 1
        },
        {
          "id": "row_span_mobile",
          "type": "number",
          "label": "Row Span Mobile",
          "default": 1
        },
        {
          "id": "column_span_mobile",
          "type": "number",
          "label": "Column Span Mobile",
          "default": 1
        },
        {
          "type": "header",
          "content": "Customization"
        },
        {
          "id": "heading",
          "type": "text",
          "label": "Heading"
        },
        {
          "id": "links",
          "type": "link_list",
          "label": "Links"
        }
      ]
    },
    {
      "type": "divisions",
      "name": "Divisions",
      "settings": [
        {
          "type": "header",
          "content": "Layout"
        },
        {
          "id": "show_on_mobile",
          "type": "checkbox",
          "label": "Show on mobile",
          "default": true
        },
        {
          "id": "show_on_desktop",
          "type": "checkbox",
          "label": "Show on desktop",
          "default": true
        },
        {
          "id": "row",
          "type": "number",
          "label": "Row",
          "default": 1
        },
        {
          "id": "column",
          "type": "number",
          "label": "Column",
          "default": 1
        },
        {
          "id": "row_mobile",
          "type": "number",
          "label": "Row Mobile",
          "default": 1
        },
        {
          "id": "column_mobile",
          "type": "number",
          "label": "Column Mobile",
          "default": 1
        },
        {
          "id": "row_span",
          "type": "number",
          "label": "Row Span",
          "default": 1
        },
        {
          "id": "column_span",
          "type": "number",
          "label": "Column Span",
          "default": 1
        },
        {
          "id": "row_span_mobile",
          "type": "number",
          "label": "Row Span Mobile",
          "default": 1
        },
        {
          "id": "column_span_mobile",
          "type": "number",
          "label": "Column Span Mobile",
          "default": 1
        },
        {
          "type": "header",
          "content": "Customization"
        },
        {
          "id": "heading",
          "type": "text",
          "label": "Heading"
        },
        {
          "id": "image_height",
          "type": "number",
          "label": "Image Height",
          "default": 38
        },
        {
          "id": "division_link_1",
          "type": "url",
          "label": "Division Link 1"
        },
        {
          "id": "division_image_1",
          "type": "image_picker",
          "label": "Division Image 1"
        },
        {
          "id": "division_link_2",
          "type": "url",
          "label": "Division Link 2"
        },
        {
          "id": "division_image_2",
          "type": "image_picker",
          "label": "Division Image 2"
        }
      ]
    },
    {
      "type": "subscribe",
      "name": "Newsletter Subscribe",
      "settings": [
        {
          "type": "header",
          "content": "Layout"
        },
        {
          "id": "show_on_mobile",
          "type": "checkbox",
          "label": "Show on mobile",
          "default": true
        },
        {
          "id": "show_on_desktop",
          "type": "checkbox",
          "label": "Show on desktop",
          "default": true
        },
        {
          "id": "row",
          "type": "number",
          "label": "Row",
          "default": 1
        },
        {
          "id": "column",
          "type": "number",
          "label": "Column",
          "default": 1
        },
        {
          "id": "row_mobile",
          "type": "number",
          "label": "Row Mobile",
          "default": 1
        },
        {
          "id": "column_mobile",
          "type": "number",
          "label": "Column Mobile",
          "default": 1
        },
        {
          "id": "row_span",
          "type": "number",
          "label": "Row Span",
          "default": 1
        },
        {
          "id": "column_span",
          "type": "number",
          "label": "Column Span",
          "default": 1
        },
        {
          "id": "row_span_mobile",
          "type": "number",
          "label": "Row Span Mobile",
          "default": 1
        },
        {
          "id": "column_span_mobile",
          "type": "number",
          "label": "Column Span Mobile",
          "default": 1
        },
        {
          "id": "connect_heading",
          "type": "text",
          "label": "Heading",
          "default": "Connect with us"
        },
        {
          "id": "connect_text",
          "type": "richtext",
          "label": "Text",
          "default": "<p>Connect with us on social media to stay up to date on the latest news and events.</p>"
        },
        {
          "id": "connect_button_link",
          "type": "url",
          "label": "Button Link"
        },
        {
          "id": "connect_button_onclick",
          "type": "text",
          "label": "Button JS Function"
        },
        {
          "id": "connect_button_text",
          "type": "text",
          "label": "Button Text"
        }
      ]
    }
  ]
}
{% endschema %}