{% comment %} SECTIONS: ywm-subcollections.liquid {% endcomment %}
{% comment %} https://github.com/yellowwebmonkey/shopify-features/blob/24f232a72d929ac4b536f14939ed547b3f9722c1/Sections/ywm-subcollections.liquid {% endcomment %}
{% comment %} LAST UPDATED: 20250106 {% endcomment %}


{% style %}
 #shopify-section-{{ section.id }} .toolbar__menu {flex-flow: row nowrap;;display:flex;display: -webkit-flex;display: -moz-flexbox;display: -ms-flexbox;display: -ms-flexbox;-webkit-flex-wrap: wrap; justify-content:center;}
 #shopify-section-{{ section.id }} .toolbar__menu .toolbar__item--menu {display: -webkit-flex;display: -moz-flexbox;display: -ms-flexbox;display: -ms-flexbox;-webkit-flex-wrap: wrap;}
 #shopify-section-{{ section.id }} .tab-item {list-style:none;margin:0 1rem;}
 #shopify-section-{{ section.id }} .tab-item a {text-decoration:none;padding:5px 1rem;}
 {% if section.settings.tab_bg %}#shopify-section-{{ section.id }} .tab-item {background: {{section.settings.tab_bg }};border-radius:8px;margin-right:5px;}{% endif %} {% if section.settings.tab_bg %}#shopify-section-{{ section.id }} .tab-item {background: {{section.settings.tab_bg }};border-radius:8px;margin-right:5px;}{% endif %}
 {% if section.settings.toolbar_font %}#shopify-section-{{ section.id }} .toolbar__menu li a {color: {{ section.settings.toolbar_font }};}{% endif %}
 {% if section.settings.toolbar_bg %}#shopify-section-{{ section.id }} .toolbar {background-color: {{ section.settings.toolbar_bg }};}{% endif %}
  .section-{{ section.id }}-padding {padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;}
  @media screen and (min-width: 750px) {.section-{{ section.id }}-padding {padding-top: {{ section.settings.padding_top }}px;padding-bottom: {{ section.settings.padding_bottom }}px;}}
  
@media screen and (max-width:480px) {
  #shopify-section-{{ section.id }} .toolbar__menu .toolbar__item--menu {flex-basis:150px;}
  #shopify-section-{{ section.id }} .page-width {text-align: left;margin: 0 10px !important}
}
@media screen and (min-width:480px) {
  #shopify-section-{{ section.id }} .page-width {text-align: center;}
}  
{% endstyle %}


<section id="shopify-{{ section.id }}" class="toolbar shopify-section section-{{ section.id }}">
  <div class="page-width">
    <div class="toolbar__content">
 
        {% if section.settings.collection_list != blank %}
            {% assign collections = section.settings.collection_list %}
                  {% if collections %}
                        <div class="toolbar__item toolbar__item--menu"><ul class="inline-list toolbar__menu">
                          {% for collection in collections %}

                              <li class="tab-item {% if collection.handle != '' and canonical_url contains collection.handle %}tab-item--active{% endif %} tab-item--{{ block.id }} tab-item--border tab-item--text" 
                  {{ block.shopify_attributes }}>
                            
                            {% if collection.url != blank %}
                              <a href="{{ collection.url }}" class="tab-item__link">
                            {% endif %}

                            {% if collection.title != blank %}
                              {{ collection.title }}
                            {% endif %}
                            

                            {% if collection.url != blank %}
                              </a>
                            {% endif %}
                          </li>
                            
                          {% endfor %}
                        </ul></div>
                    {% endif %}

        {% elsif section.settings.collection_list %}

            {% assign metafield_namespace = section.settings.metafield_name | split: '.' | first %}
            {% assign metafield_key = section.settings.metafield_name | split: '.' | last %}
            {% assign collection_meta = collection.metafields[metafield_namespace][metafield_key] %}
            {% comment %} {% assign collections = collections | split: ',' %} {% endcomment %}
            {% assign collections = collection_meta.value | parse_json %}

            <div class="toolbar__item toolbar__item--menu"><ul class="inline-list toolbar__menu">
                {% for collection in collections %}
                    <li class="tab-item {% if collection.handle != '' and canonical_url contains collection.handle %}tab-item--active{% endif %} tab-item--{{ block.id }} tab-item--border tab-item--text" {{ block.shopify_attributes }}>
                      {% if collection.url != blank %}<a href="{{ collection.url }}" class="tab-item__link">{% endif %}
                          {% if collection.text != blank %}{{ collection.text }}{% endif %}
                      {% if collection.url != blank %}</a>{% endif %}
                    </li>
                {% endfor %}

        {% endif %}
          
        </div>
    </div>
</section>

{% schema %}
{
    "name": "YWM SubCollections",
    "class": "shopify-section",
    "settings": [
    {
      "type": "header",
      "content": "SubCollections"
    },      
        {  
          "type": "collection_list",
          "id": "collection_list",
          "label": "Subcollections"
        },
    {
      "type":"paragraph",
      "content":"Choose either the collection list above, or use the field below if mapping to another multiple metafield like list of links."
    },        
    {
      "type": "text",
      "id": "metafield_name",
      "label": "Metafield Namespace and Key",
      "default": "custom",
      "info": "The namespace/key of your metafield (e.g., custom.whatever)"
    },       
    {
      "type":"color",
      "id":"toolbar_bg",
      "label":"Toolbar Background Color"
    },
    {
      "type":"color",
      "id":"tab_bg",
      "label":"Tab Background Color"
    },      
    {
      "type":"color",
      "id":"toolbar_font",
      "label":"Toolbar Font Color"
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top Padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom Padding",
      "default": 36
    }    
    ],
    "max_blocks": 8,
    "blocks": [
        {
            "name": "Collection",
            "type": "collection_block",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Collection title"
                }
            ]
        }
    ],
    "presets": [
        {
          "name": "GUA Subcollections",
          "category":"Guardair Catalog", 
          "blocks": [   
            ]
        }
    ]
}
{% endschema %}